<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Brnn_openCard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1219},{135,57}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,51},{135,57}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,189}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{489,189}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{477,161}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{477,161}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{471,145}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,50},{471,145}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,389},{435,129}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{435,129}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1630},{385,119}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,48},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1630},{385,119}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,45},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{385,119}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,38},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1509},{385,119}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,35},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{385,119}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1267},{385,119}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{385,119}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{385,119}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,27},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{385,119}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,27},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{385,119}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,27},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{385,119}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,27},{385,119}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1630},{379,141}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,5},{379,141}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1219},{377,147}}</string>
                <key>offset</key>
                <string>{-11,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{377,147}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{407,129}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,29},{407,129}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,826},{391,165}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,38},{391,165}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{425,155}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,50},{425,155}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{465,121}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,63},{465,121}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
            <key>Brnn_openCard_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{489,109}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,75},{489,109}}</string>
                <key>sourceSize</key>
                <string>{517,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brnn_openCard_plist.png</string>
            <key>size</key>
            <string>{614,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0e1ca443d78ad93e0bd7aa767953929:1/1$</string>
            <key>textureFileName</key>
            <string>brnn_openCard_plist.png</string>
        </dict>
    </dict>
</plist>
