<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plist_puke_back_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{158,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,208}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>plist_puke_back_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{158,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,208}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>plist_puke_back_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{156,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,208}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>plist_puke_back_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,196},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>plist_puke_back_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,196},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>plist_puke_back_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,196},{68,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>plist_puke_back_small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,212},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>plist_puke_back_xl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,238}}</string>
                <key>sourceSize</key>
                <string>{180,238}</string>
            </dict>
            <key>plist_puke_big_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,196},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>plist_puke_color_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>plist_puke_color_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,89},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>plist_puke_color_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,196},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,72}}</string>
                <key>sourceSize</key>
                <string>{82,72}</string>
            </dict>
            <key>plist_puke_color_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,178},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>plist_puke_color_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,205},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>plist_puke_color_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,53},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>plist_puke_color_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,147},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>plist_puke_color_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1963,171},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>plist_puke_color_xl_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>plist_puke_color_xl_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,90},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>plist_puke_color_xl_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,90},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>plist_puke_color_xl_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>plist_puke_color_xl_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,109},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>plist_puke_color_xl_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,132},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>plist_puke_color_xl_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,137},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>plist_puke_color_xl_small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,47},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>plist_puke_front_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{158,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,208}}</string>
                <key>sourceSize</key>
                <string>{158,208}</string>
            </dict>
            <key>plist_puke_front_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,212},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>plist_puke_front_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,238}}</string>
                <key>sourceSize</key>
                <string>{180,238}</string>
            </dict>
            <key>plist_puke_joker_big_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,2},{145,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,192}}</string>
                <key>sourceSize</key>
                <string>{145,192}</string>
            </dict>
            <key>plist_puke_joker_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{145,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,192}}</string>
                <key>sourceSize</key>
                <string>{145,192}</string>
            </dict>
            <key>plist_puke_joker_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,209},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,62}}</string>
                <key>sourceSize</key>
                <string>{18,62}</string>
            </dict>
            <key>plist_puke_joker_small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,209},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,62}}</string>
                <key>sourceSize</key>
                <string>{18,62}</string>
            </dict>
            <key>plist_puke_joker_xl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{162,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,205}}</string>
                <key>sourceSize</key>
                <string>{162,205}</string>
            </dict>
            <key>plist_puke_joker_xl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{162,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,205}}</string>
                <key>sourceSize</key>
                <string>{162,205}</string>
            </dict>
            <key>plist_puke_value_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,2},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>plist_puke_value_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,209},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>plist_puke_value_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,225},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>plist_puke_value_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,87},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>plist_puke_value_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,52},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>plist_puke_value_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,239},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,226},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,78},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>plist_puke_value_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,172},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,226},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,209},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>plist_puke_value_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,242},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,242},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,224},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>plist_puke_value_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,212},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>plist_puke_value_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,226},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>plist_puke_value_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,2},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>plist_puke_value_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,138},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>plist_puke_value_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,242},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,47},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>plist_puke_value_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,87},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>plist_puke_value_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,242},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,179},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>plist_puke_value_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,242},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,242},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>plist_puke_value_xl_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,209},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>plist_puke_value_xl_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,212},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>plist_puke_value_xl_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,242},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>plist_puke_value_xl_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,212},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>plist_puke_value_xl_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,209},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>plist_puke_value_xl_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,174},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>plist_puke_value_xl_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,212},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>plist_puke_value_xl_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,87},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>plist_puke_value_xl_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,209},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>plist_puke_value_xl_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,212},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>plist_puke_value_xl_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,2},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>plist_puke_value_xl_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,212},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>plist_puke_value_xl_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,212},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>plist_puke_value_xl_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,209},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>plist_puke_value_xl_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,212},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>plist_puke_value_xl_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>plist_puke_value_xl_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,212},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>plist_puke_value_xl_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,209},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>plist_puke_value_xl_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,174},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>plist_puke_value_xl_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,212},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>plist_puke_value_xl_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,174},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>plist_puke_value_xl_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,209},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>plist_puke_value_xl_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,212},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>plist_puke_value_xl_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,173},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>plist_puke_value_xl_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,212},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>plist_puke_value_xl_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,212},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_puke.png</string>
            <key>size</key>
            <string>{2041,273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e7c21675288809399839408204a619d:1/1$</string>
            <key>textureFileName</key>
            <string>plist_puke.png</string>
        </dict>
    </dict>
</plist>
