<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ip</key>
	<string>241qt.dushigame.com</string>
	<key>port</key>
	<string>8400</string>
	<key>frameVersion</key>
	<string>9.0.0</string>
	<key>PFVersionWindowns</key>
	<string>10.0.0</string>
	<key>PFVersionAndroid</key>
	<string>10.0.0</string>
	<key>PFVersionIOS</key>
	<string>10.0.0</string>
	<key>apple_pay_show</key>
	<string>0</string>
	<key>game_rank_show</key>
	<string>0</string>
	<key>app_pay_normal</key>
	<string>0</string>
	<key>app_pay_url</key>
	<string>http://241ut.dushigame.com/Pay/IosNotice</string>
	<key>AppId_ios</key>
	<string>64691969</string>
	<key>AppId_android</key>
	<string>961440</string>
	<key>downloadResUrl</key>
	<string>http://appps.dushigame.com/test/</string>
	<key>downloadCheckUrl</key>
	<string>http://down.dushigame.com/download/AppResourceDownLoad/</string>
	<key>downloadConfirmSize</key>
	<string>20480</string>
	<key>apk_download_url</key>
	<string>http://dushigame.com/m_index.html</string>
	<key>ipa_download_url</key>
	<string>https://itunes.apple.com/us/app/jiang-xi-dou-shi-you-xi/id1178841485?mt=8</string>
	<key>url_one_register</key>
	<string>http://241qt.dushigame.com/Api/Web/SeedMBPhone</string>
	<key>url_send_mobile_code</key>
	<string>http://241qt.dushigame.com/Api/Web/SeedMBCode</string>
	<key>url_reset_bank_passwd</key>
	<string>http://241qt.dushigame.com/Api/Phone/ResetUserBankPassWord</string>
	<key>url_bank_mingxi</key>
	<string>http://241qt.dushigame.com/Api/Phone/GetUserDetails</string>
	<key>url_bank_transferrecord</key>
	<string>http://241qt.dushigame.com/Mobile/MonthTransferRecord.aspx</string>
	<key>url_convertmedal</key>
	<string>http://241qt.dushigame.com/Mobile/MConvertMedal.aspx</string>
	<key>url_binduserphone</key>
	<string>http://241qt.dushigame.com/Api/Account/BindUserPhone</string>
	<key>url_forgotpassword</key>
	<string>http://241qt.dushigame.com/Mobile/ForgotPassWord.aspx</string>
	<key>url_index</key>
	<string>http://241qt.dushigame.com/Index.aspx</string>
	<key>url_mranking</key>
	<string>http://www.dushigame.com/Mobile/NewMobileRank.aspx?type=</string>
	<key>url_priceranking</key>
	<string>http://241qt.dushigame.com/Untity/Rank/PriceRank.aspx</string>
	<key>url_upLoadPicture</key>
	<string>http://241ut.dushigame.com/Commd/UpLoadImg</string>
	<key>url_upLoadProblem</key>
	<string>http://241ut.dushigame.com/Commd/UploadPlayProblem</string>
	<key>test_Channel</key>
	<string>0</string>
</dict>
</plist>
