<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_kuang_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{400,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,388}</string>
            </dict>
            <key>bg_kuang_game_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,404},{400,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,323}}</string>
                <key>sourceSize</key>
                <string>{400,323}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,875},{1,1}}</string>
                <key>offset</key>
                <string>{-30.5,30.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>btn_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,698},{68,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{68,71}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>btn_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,683},{68,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{68,71}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>btn_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,766},{72,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{72,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,766},{72,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{72,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>btn_phonecall.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,721},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,756},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>btn_share_ryfriend_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,814},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{60,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_share_ryfriend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,806},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{60,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,814},{62,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wechat_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,814},{62,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{62,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wxcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,770},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wxcircle_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,818},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{46,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_voice_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,766},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_voice_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,766},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>chag_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{411,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,59}}</string>
                <key>sourceSize</key>
                <string>{411,59}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{668,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,446}}</string>
                <key>sourceSize</key>
                <string>{668,446}</string>
            </dict>
            <key>chat_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,755},{72,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>chat_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,803},{72,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>chat_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,450},{587,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{587,246}}</string>
                <key>sourceSize</key>
                <string>{595,252}</string>
            </dict>
            <key>chat_item_framebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{579,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{579,54}}</string>
                <key>sourceSize</key>
                <string>{595,60}</string>
            </dict>
            <key>chat_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,404},{231,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,63}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,637},{231,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,63}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,709},{151,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{151,55}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>chat_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,698},{151,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{151,55}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>chat_texts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,450},{231,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,63}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_texts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,770},{231,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{231,63}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>icon_public_game_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>icon_public_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,721},{111,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>icon_public_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,721},{119,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{119,80}}</string>
                <key>sourceSize</key>
                <string>{121,82}</string>
            </dict>
            <key>p_bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,653},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>p_bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,698},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>p_bt_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,803},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>p_bt_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,771},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>p_bt_sure_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,653},{188,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{188,66}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>p_bt_sure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,698},{188,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{188,66}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>player_vip_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,766},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>pub_btn_introduce_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,766},{88,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>pub_btn_introduce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,721},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>pub_btn_introduce_c_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,755},{72,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>pub_btn_introduce_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,803},{72,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>pub_btn_introduce_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,835},{146,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{146,38}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>pub_sp_introduce_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,649}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{958,649}}</string>
                <key>sourceSize</key>
                <string>{958,655}</string>
            </dict>
            <key>record_chat_begin_ani_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,789},{66,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>record_chat_begin_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,821},{60,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,55}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>record_play_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,755},{9,9}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{9,9}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_play_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,833},{17,21}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{17,21}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_play_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,766},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_volum_aini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,683},{11,9}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,56},{11,9}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,835},{19,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,63}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,835},{13,15}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{13,15}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,450},{13,21}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{13,21}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,806},{15,27}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{15,27}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,790},{15,33}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{15,33}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,856},{15,39}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{15,39}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,771},{17,45}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{17,45}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,821},{17,51}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{17,51}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,803},{19,57}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{19,57}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>sp_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,806},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{2022,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39bf192cb2bbc118e2e072eb399cf4a0:f7408ada6be16c54522644465a31746d:063f20810f63c58bcc5b88a4f1a41587$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
