<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,112},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{76,94}</string>
            </dict>
            <key>btn_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,742},{204,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,742},{204,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>check_setting_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,471},{118,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{118,45}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>check_setting_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,184},{116,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,9},{116,43}}</string>
                <key>sourceSize</key>
                <string>{180,61}</string>
            </dict>
            <key>game_bt_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,797},{204,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,90}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>game_bt_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,414},{204,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>game_bt_score_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,797},{204,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,90}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>game_bt_score_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,518},{204,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>game_bt_score_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,797},{204,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,90}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>game_bt_score_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,797},{204,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,90}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>game_bt_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,312},{204,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>game_cellScoreIMG.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,797},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>game_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,763},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>game_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,591},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>game_gold+.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,302},{65,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{65,64}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,733},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>game_hongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,797},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>game_nooutcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,2},{99,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>game_robot-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,789},{217,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{217,155}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>game_role11.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,861},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>game_role12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,854},{129,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,124}}</string>
                <key>sourceSize</key>
                <string>{129,124}</string>
            </dict>
            <key>game_role21.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,861},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>game_role22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,854},{129,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,124}}</string>
                <key>sourceSize</key>
                <string>{129,124}</string>
            </dict>
            <key>game_role31.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,861},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>game_role32.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,861},{129,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,124}}</string>
                <key>sourceSize</key>
                <string>{129,124}</string>
            </dict>
            <key>game_tips_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,184},{351,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{351,48}}</string>
                <key>sourceSize</key>
                <string>{351,50}</string>
            </dict>
            <key>game_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,745},{317,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{317,50}}</string>
                <key>sourceSize</key>
                <string>{323,50}</string>
            </dict>
            <key>game_tips_callscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,733},{99,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>game_topMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,948},{170,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,32}}</string>
                <key>sourceSize</key>
                <string>{170,32}</string>
            </dict>
            <key>gameend_0_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{793,282}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,8},{793,282}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_1_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{741,196}}</string>
                <key>offset</key>
                <string>{36,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,59},{741,196}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_2_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{857,266}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{857,266}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_3_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,2},{729,250}}</string>
                <key>offset</key>
                <string>{42,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,23},{729,250}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_again0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,208},{204,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>gameend_again1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,2},{204,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,88}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>gameend_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1008,411}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1008,411}}</string>
                <key>sourceSize</key>
                <string>{1008,413}</string>
            </dict>
            <key>gameend_quit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,797},{204,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,90}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>gameend_quit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,797},{204,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,90}}</string>
                <key>sourceSize</key>
                <string>{204,90}</string>
            </dict>
            <key>land_bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,93},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,2},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,620},{120,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,113}}</string>
                <key>sourceSize</key>
                <string>{120,113}</string>
            </dict>
            <key>role_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,190},{120,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,65}}</string>
                <key>sourceSize</key>
                <string>{120,65}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,234},{618,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,328}}</string>
                <key>sourceSize</key>
                <string>{618,328}</string>
            </dict>
            <key>sp_setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,85},{96,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{96,25}}</string>
                <key>sourceSize</key>
                <string>{138,31}</string>
            </dict>
            <key>sp_setting_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,58},{96,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{96,25}}</string>
                <key>sourceSize</key>
                <string>{138,31}</string>
            </dict>
            <key>txt_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,368},{101,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,52}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{2007,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a589d89e407dadc75ffa8649a83495:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
