<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chaihb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,510},{44,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>Chaihb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{149,141}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{149,141}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>Chaihb_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,642},{79,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>Chaihb_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,307},{79,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>back_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1334,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,70}}</string>
                <key>sourceSize</key>
                <string>{1334,70}</string>
            </dict>
            <key>bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,2},{366,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,24}}</string>
                <key>sourceSize</key>
                <string>{366,24}</string>
            </dict>
            <key>bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,2},{366,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,24}}</string>
                <key>sourceSize</key>
                <string>{366,24}</string>
            </dict>
            <key>bt_cancle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,440},{160,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>bt_cancle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,145},{160,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>bt_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,714},{70,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bt_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,642},{70,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bt_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,714},{70,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bt_ensure_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,145},{160,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>bt_ensure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,370},{160,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,68}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>btn_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,576},{146,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,70}</string>
            </dict>
            <key>btn_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,510},{146,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{146,64}}</string>
                <key>sourceSize</key>
                <string>{146,70}</string>
            </dict>
            <key>btn_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,704},{47,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{47,60}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>btn_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,698},{47,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{47,60}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>btn_trust_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,642},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{47,60}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>btn_trust_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,580},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{47,60}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>game_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>game_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,307},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{61,56}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>game_leave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,307},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{61,56}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>hb_js1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,416},{15,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>hb_js2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,393},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>hb_js3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,370},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>land_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,370},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public_res.png</string>
            <key>size</key>
            <string>{1541,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d646fc0fd7a1c231ae0b66f87f286014:1/1$</string>
            <key>textureFileName</key>
            <string>public_res.png</string>
        </dict>
    </dict>
</plist>
