<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chat_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{63,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{63,167}}</string>
                <key>sourceSize</key>
                <string>{75,179}</string>
            </dict>
            <key>btn_sendmsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>img_send_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{335,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{335,47}}</string>
                <key>sourceSize</key>
                <string>{337,49}</string>
            </dict>
            <key>img_system_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{534,482}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{534,482}}</string>
                <key>sourceSize</key>
                <string>{540,492}</string>
            </dict>
            <key>img_system_info_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,430}}</string>
                <key>sourceSize</key>
                <string>{580,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChatLayer.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:037e189e7eb5c0444e2b4768a497cf73$</string>
            <key>textureFileName</key>
            <string>ChatLayer.png</string>
        </dict>
    </dict>
</plist>
