<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Brnn_Bank_bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{196,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,51}}</string>
                <key>sourceSize</key>
                <string>{196,51}</string>
            </dict>
            <key>Brnn_Bank_zf1btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,89},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>im_bank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,483}}</string>
                <key>sourceSize</key>
                <string>{658,483}</string>
            </dict>
            <key>im_bank_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{291,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,48}}</string>
                <key>sourceSize</key>
                <string>{291,48}</string>
            </dict>
            <key>im_bank_fram.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,142},{623,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,100}}</string>
                <key>sourceSize</key>
                <string>{623,100}</string>
            </dict>
            <key>im_bank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,170},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>txt_bank_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,112},{145,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,28}}</string>
                <key>sourceSize</key>
                <string>{145,28}</string>
            </dict>
            <key>txt_bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,52},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
            <key>txt_cur_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,140},{141,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,28}}</string>
                <key>sourceSize</key>
                <string>{141,28}</string>
            </dict>
            <key>txt_input_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,82},{167,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,28}}</string>
                <key>sourceSize</key>
                <string>{167,28}</string>
            </dict>
            <key>txt_input_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,52},{167,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,28}}</string>
                <key>sourceSize</key>
                <string>{167,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_bank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a899724a89f3fa0d2e8936d826364227$</string>
            <key>textureFileName</key>
            <string>game_bank.png</string>
        </dict>
    </dict>
</plist>
