<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>k00.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,3846},{188,190}}</string>
			<key>offset</key>
			<string>{-6,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{340,127},{188,190}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2424,3266},{716,316}}</string>
			<key>offset</key>
			<string>{-11,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,74},{716,316}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2718,1544},{716,334}}</string>
			<key>offset</key>
			<string>{-11,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,56},{716,334}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2372,1760},{748,344}}</string>
			<key>offset</key>
			<string>{-10,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,50},{748,344}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1970,2596},{762,378}}</string>
			<key>offset</key>
			<string>{-11,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,22},{762,378}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k05.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,3444},{840,400}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{840,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k06.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,1208},{840,400}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{840,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k07.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,2602},{840,400}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{840,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k08.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,1760},{840,400}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{840,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1208,2600},{838,400}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{838,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1208,1760},{838,400}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{838,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k11.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,2608},{840,400}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{840,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k12.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,1760},{846,400}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{846,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k13.png</key>
		<dict>
			<key>frame</key>
			<string>{{3530,884},{874,400}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{874,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2648,806},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766,806},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k16.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,806},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k17.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,806},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2648,404},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k19.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766,404},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k20.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,404},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3530},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2648},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k23.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1766},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k24.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,404},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k25.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,884},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k26.png</key>
		<dict>
			<key>frame</key>
			<string>{{3530,2},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k27.png</key>
		<dict>
			<key>frame</key>
			<string>{{2648,2},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k28.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766,2},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k29.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,2},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k30.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{880,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{880,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k31.png</key>
		<dict>
			<key>frame</key>
			<string>{{1610,1760},{834,400}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{834,400}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k32.png</key>
		<dict>
			<key>frame</key>
			<string>{{1610,2596},{764,358}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,30},{764,358}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k33.png</key>
		<dict>
			<key>frame</key>
			<string>{{2012,1760},{754,358}}</string>
			<key>offset</key>
			<string>{-8,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{55,30},{754,358}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k34.png</key>
		<dict>
			<key>frame</key>
			<string>{{2350,2516},{748,358}}</string>
			<key>offset</key>
			<string>{-10,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,30},{748,358}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k35.png</key>
		<dict>
			<key>frame</key>
			<string>{{2718,1208},{746,334}}</string>
			<key>offset</key>
			<string>{-10,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,56},{746,334}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k36.png</key>
		<dict>
			<key>frame</key>
			<string>{{1726,3362},{724,334}}</string>
			<key>offset</key>
			<string>{-11,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,56},{724,334}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k37.png</key>
		<dict>
			<key>frame</key>
			<string>{{2062,3360},{716,360}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,29},{716,360}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k38.png</key>
		<dict>
			<key>frame</key>
			<string>{{2710,2510},{714,336}}</string>
			<key>offset</key>
			<string>{-11,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,30},{714,336}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
		<key>k39.png</key>
		<dict>
			<key>frame</key>
			<string>{{1648,1208},{354,336}}</string>
			<key>offset</key>
			<string>{-8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{255,31},{354,336}}</string>
			<key>sourceSize</key>
			<string>{880,400}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kaijiang.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c6f9e9575f46f8fd9c740d3f13f6cec1$</string>
		<key>textureFileName</key>
		<string>kaijiang.png</string>
	</dict>
</dict>
</plist>
