<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botbar_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,137},{3,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{3,56}}</string>
                <key>sourceSize</key>
                <string>{3,60}</string>
            </dict>
            <key>btn_activity_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,180},{110,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,1},{110,52}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>btn_add_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,578},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>btn_bank_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,234},{110,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{110,48}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>btn_category1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,962},{77,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,647},{35,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{35,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,428},{77,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,137},{39,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{39,89}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{77,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,180},{37,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{37,89}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,507},{77,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,219},{31,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{31,89}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,568},{77,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,91}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_category5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,252},{37,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{37,87}}</string>
                <key>sourceSize</key>
                <string>{77,91}</string>
            </dict>
            <key>btn_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,361},{65,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,92}}</string>
                <key>sourceSize</key>
                <string>{65,92}</string>
            </dict>
            <key>btn_copy_id_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,298},{77,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,36}}</string>
                <key>sourceSize</key>
                <string>{77,36}</string>
            </dict>
            <key>btn_duobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,422},{65,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,92}}</string>
                <key>sourceSize</key>
                <string>{65,92}</string>
            </dict>
            <key>btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,913},{110,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{110,46}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,982},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1},{110,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{110,56}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>btn_morebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,753},{227,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,114}}</string>
                <key>sourceSize</key>
                <string>{227,114}</string>
            </dict>
            <key>btn_notice_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,807},{108,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{108,50}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>btn_pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,137},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,859},{106,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,2},{106,52}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>btn_rank_item_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,59},{692,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,116}}</string>
                <key>sourceSize</key>
                <string>{692,116}</string>
            </dict>
            <key>btn_rank_item_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,180},{692,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,116}}</string>
                <key>sourceSize</key>
                <string>{692,116}</string>
            </dict>
            <key>btn_rank_shrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,137},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>btn_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1019},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>btn_service_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,291},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>btn_setting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,586},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>btn_shop_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,53},{192,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,82}}</string>
                <key>sourceSize</key>
                <string>{192,82}</string>
            </dict>
            <key>btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,753},{108,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{108,52}}</string>
                <key>sourceSize</key>
                <string>{180,56}</string>
            </dict>
            <key>img_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,298},{540,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,640}}</string>
                <key>sourceSize</key>
                <string>{540,640}</string>
            </dict>
            <key>img_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,414},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>img_myself_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{709,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,125}}</string>
                <key>sourceSize</key>
                <string>{709,125}</string>
            </dict>
            <key>img_namebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,753},{217,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,33}}</string>
                <key>sourceSize</key>
                <string>{217,33}</string>
            </dict>
            <key>img_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,913},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>img_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,377},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>img_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,753},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sp_avatar_mask_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,840},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sp_avatar_mask_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,656},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sp_avatar_mask_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,676},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>sp_avatar_mask_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,324},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>sp_btn_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,840},{26,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,68}}</string>
                <key>sourceSize</key>
                <string>{26,68}</string>
            </dict>
            <key>sp_category_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,970},{77,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,338}}</string>
                <key>sourceSize</key>
                <string>{77,338}</string>
            </dict>
            <key>sp_gold_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,753},{240,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,46}}</string>
                <key>sourceSize</key>
                <string>{240,46}</string>
            </dict>
            <key>sp_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,840},{128,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,493}}</string>
                <key>sourceSize</key>
                <string>{128,493}</string>
            </dict>
            <key>sp_rank_medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,676},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>sp_rank_medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,614},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>sp_rank_medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,995},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>sp_rank_order_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,970},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>sp_rank_order_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,970},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>sp_rank_order_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,972},{87,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,81}}</string>
                <key>sourceSize</key>
                <string>{87,81}</string>
            </dict>
            <key>sp_rank_totil.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,284},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,38}</string>
            </dict>
            <key>sp_rankgold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{264,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,38}}</string>
                <key>sourceSize</key>
                <string>{264,38}</string>
            </dict>
            <key>sp_rmbico.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,538},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>sp_shop_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,452},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>sp_shop_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,515},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>sp_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,961},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>sp_trumpet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{908,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{908,50}}</string>
                <key>sourceSize</key>
                <string>{908,50}</string>
            </dict>
            <key>topVipIcon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,298},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>topVipIcon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,995},{44,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>topVipIcon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,346},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>topVipIcon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,394},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>topVipIcon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,442},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>topVipIcon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,490},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{1023,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09aaa04b11bcc256946f3135cafd92c4:ac62aaca3f210010d85f89c5046f2208:e0806e90bb9996875a6dfb603b5efd84$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
