<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,440},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>Bullet1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,368},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>Bullet2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,368},{89,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,80}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>Bullet4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,440},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>Bullet5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,368},{83,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>Bullet6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,368},{89,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,80}}</string>
                <key>sourceSize</key>
                <string>{89,80}</string>
            </dict>
            <key>img_jiguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,246},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,124},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,368},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,246},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,124},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>img_jiguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>laser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{43,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,11}}</string>
                <key>sourceSize</key>
                <string>{43,11}</string>
            </dict>
            <key>laser3.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,490},{32,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,8}}</string>
                <key>sourceSize</key>
                <string>{32,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullets.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf22d193ae75011f25a16cb0d8d5ceb9:d83c953ad64087911426504a05ca0928:dd5ffacf39c56875dbf7325734a11df5$</string>
            <key>textureFileName</key>
            <string>bullets.png</string>
        </dict>
    </dict>
</plist>
