<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bingo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,552},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Bingo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>CoinMove0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{52,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{52,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,254},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{50,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,505},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,384},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,359},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,465},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{52,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{52,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{52,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,202},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{50,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,415},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,324},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,303},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,512},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{50,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>CoinMove1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,528},{66,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{66,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,502},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{66,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,428},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{66,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,364},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,444},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,454},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{66,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,256},{66,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{66,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,490},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{66,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,480},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{66,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,296},{66,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,386},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CoinMove1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,432},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{68,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{54,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{54,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>diamond_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,202},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{100,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>diamond_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{102,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{102,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>diamond_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,31},{128,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{128,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>diamond_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,230},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{98,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,308},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,256},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{50,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>line_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,70},{6,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,231}}</string>
                <key>sourceSize</key>
                <string>{6,231}</string>
            </dict>
            <key>line_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,56},{6,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,231}}</string>
                <key>sourceSize</key>
                <string>{6,231}</string>
            </dict>
            <key>palm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,248}}</string>
                <key>sourceSize</key>
                <string>{140,248}</string>
            </dict>
            <key>ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{252,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,197}}</string>
                <key>sourceSize</key>
                <string>{252,197}</string>
            </dict>
            <key>stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,392}}</string>
                <key>sourceSize</key>
                <string>{27,392}</string>
            </dict>
            <key>sycee.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,127},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{118,73}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,70},{100,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,158}}</string>
                <key>sourceSize</key>
                <string>{100,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coins.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb3ae7839890a5e985fa74196bdf6a2:b35b474c9d7aaea722cd32d5173e4233:b04a6693658aa756a0f0c426b3cb584a$</string>
            <key>textureFileName</key>
            <string>coins.png</string>
        </dict>
    </dict>
</plist>
