<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect301.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,232},{262,280}}</string>
                <key>offset</key>
                <string>{10,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,64},{262,280}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{222,278}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,61},{222,278}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{226,276}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,62},{226,276}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect304.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,496},{258,266}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,68},{258,266}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect305.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1310},{208,246}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,70},{208,246}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{214,258}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,72},{214,258}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{260,236}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,72},{260,236}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect308.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1104},{204,252}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,63},{204,252}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect309.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,940},{192,228}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,74},{192,228}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{208,226}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,62},{208,226}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{242,218}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,78},{242,218}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect312.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{246,216}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,80},{246,216}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect313.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,684},{254,212}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,83},{254,212}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect314.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{254,210}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{254,210}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect315.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1134},{250,210}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,82},{250,210}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect316.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1196},{248,208}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,82},{248,208}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect317.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,894},{256,208}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,80},{256,208}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect318.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,972},{254,222}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,70},{254,222}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect319.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,756},{214,258}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,38},{214,258}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect320.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{220,294}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{220,294}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect321.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{228,294}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{228,294}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect322.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,224},{214,294}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{214,294}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect323.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,684},{208,260}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{208,260}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect324.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1406},{208,244}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,49},{208,244}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect325.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1812},{208,224}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,69},{208,224}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect326.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,440},{268,242}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,51},{268,242}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
            <key>Effect327.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,252}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{298,252}}</string>
                <key>sourceSize</key>
                <string>{298,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef129266d9808478f3240ec0b05eb1cc:23d508592bbf2676b4e27bcc16ed0cd7:092f4e084f557a39ab96522c0b0cf6ae$</string>
            <key>textureFileName</key>
            <string>effect3.png</string>
        </dict>
    </dict>
</plist>
