<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect801.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,165},{1,1}}</string>
                <key>offset</key>
                <string>{-438.5,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect802.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{574,151}}</string>
                <key>offset</key>
                <string>{-71,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,5},{574,151}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect803.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1268},{712,155}}</string>
                <key>offset</key>
                <string>{-71,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{712,155}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect804.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{808,157}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{808,157}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect805.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,165},{1,1}}</string>
                <key>offset</key>
                <string>{-438.5,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect806.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{866,161}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{866,161}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect807.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{850,161}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{850,161}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect808.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{840,163}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{840,163}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect809.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{840,163}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{840,163}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect810.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{830,163}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{830,163}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect811.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{772,163}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{772,163}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect812.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1268},{718,163}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{718,163}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect813.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,578},{688,165}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{688,165}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect814.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,578},{688,165}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{688,165}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect815.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,578},{688,165}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{688,165}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
            <key>Effect816.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,578},{688,165}}</string>
                <key>offset</key>
                <string>{-56,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{688,165}}</string>
                <key>sourceSize</key>
                <string>{878,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect8.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bd533cd91d6b7181672baa7e43b2602:588772dfdde7512b30731fde7b86b49d:36ee2d4e5949eb16e32adc1149142d1b$</string>
            <key>textureFileName</key>
            <string>effect8.png</string>
        </dict>
    </dict>
</plist>
