<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,516},{54,66}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,216},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,924},{110,110}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,196},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect102.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1274},{156,170}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,168},{156,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect103.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1274},{252,238}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,118},{252,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1022},{278,274}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,99},{278,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1620},{320,320}}</string>
                <key>offset</key>
                <string>{-26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,78},{320,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1272},{346,354}}</string>
                <key>offset</key>
                <string>{-36,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,56},{346,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1022},{384,324}}</string>
                <key>offset</key>
                <string>{-43,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,80},{384,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1620},{332,334}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,82},{332,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect109.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,924},{346,360}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,70},{346,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect110.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,894},{378,386}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,57},{378,386}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,516},{406,412}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,44},{406,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect112.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,464},{428,440}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,31},{428,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect113.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{460,464}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{460,464}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect114.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1544},{490,490}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{490,490}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{506,496}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,496}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{512,508}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,508}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>Effect121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,512},{508,512}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9c7234137bc731cd278d3cc18249a8a:1/1$</string>
            <key>textureFileName</key>
            <string>effect1.png</string>
        </dict>
    </dict>
</plist>
