<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect701.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2532},{298,280}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,110},{298,280}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect702.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2542},{226,282}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,107},{226,282}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2664},{228,280}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,110},{228,280}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect704.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2740},{264,268}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,118},{264,268}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect705.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,3246},{212,250}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,120},{212,250}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect706.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2826},{214,258}}</string>
                <key>offset</key>
                <string>{5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,123},{214,258}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect707.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2894},{270,236}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,128},{270,236}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect708.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2256},{204,252}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,125},{204,252}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect709.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2510},{192,228}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,139},{192,228}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect710.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2614},{210,228}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{210,228}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect711.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,3434},{242,218}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,145},{242,218}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect712.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,3028},{256,216}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,146},{256,216}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect713.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2814},{262,212}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,149},{262,212}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect714.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,3010},{262,210}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,150},{262,210}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect715.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,3222},{254,210}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,150},{254,210}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect716.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,3042},{256,208}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,152},{256,208}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect717.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2614},{270,208}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,153},{270,208}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect718.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2824},{258,222}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,139},{258,222}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect719.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2814},{226,258}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,103},{226,258}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect720.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2310},{220,300}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,61},{220,300}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect721.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2584},{228,300}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,61},{228,300}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect722.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2326},{214,300}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,61},{214,300}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect723.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2770},{270,274}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,87},{270,274}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect724.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1952},{352,340}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{352,340}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect725.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1956},{368,368}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{368,368}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect726.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{384,390}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{384,390}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect727.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{398,378}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{398,378}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect728.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,398},{410,392}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{410,392}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect729.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{414,402}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{414,402}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect730.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{414,406}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{414,406}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect731.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1570},{382,380}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{382,380}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect732.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1900},{354,354}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{354,354}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect733.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2256},{326,330}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,37},{326,330}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect734.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2294},{318,322}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,39},{318,322}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect735.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1940},{378,368}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{378,368}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect736.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{410,394}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{410,394}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect737.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,398}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{424,398}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect738.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,406},{410,390}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{410,390}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect739.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{390,376}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{390,376}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect740.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,394},{374,364}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{374,364}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect741.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1190},{388,378}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{388,378}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect742.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1572},{382,366}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{382,366}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect743.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1122},{396,380}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{396,380}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect744.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,410},{408,396}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{408,396}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect745.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1184},{396,386}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{396,386}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect746.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1586},{380,368}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{380,368}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect747.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1960},{368,356}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{368,356}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect748.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2318},{360,344}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{360,344}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect749.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,760},{372,360}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,33},{372,360}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect750.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1520},{386,378}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{386,378}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect751.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,808},{398,390}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{398,390}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect752.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{412,402}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{412,402}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect753.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,792},{408,396}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{408,396}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect754.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{402,386}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{402,386}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect755.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,798},{400,384}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{400,384}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
            <key>Effect756.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1200},{394,384}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{394,384}}</string>
                <key>sourceSize</key>
                <string>{426,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect7.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c436983c520b8238c94b98b2b872ab0:857f36ef6f79da8e41581e927d586828:a882eebc8634527bafcd776f3ab9e7b8$</string>
            <key>textureFileName</key>
            <string>effect7.png</string>
        </dict>
    </dict>
</plist>
