<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect501.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1014},{276,276}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,148},{276,276}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect502.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,734},{222,278}}</string>
                <key>offset</key>
                <string>{-7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,145},{222,278}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect503.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1428},{228,280}}</string>
                <key>offset</key>
                <string>{-16,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,144},{228,280}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect504.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1694},{262,268}}</string>
                <key>offset</key>
                <string>{-8,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,149},{262,268}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect505.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1636},{212,250}}</string>
                <key>offset</key>
                <string>{-18,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,149},{212,250}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect506.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,262},{214,258}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,149},{214,258}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect507.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1416},{260,236}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,149},{260,236}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect508.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{206,256}}</string>
                <key>offset</key>
                <string>{-15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,140},{206,256}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect509.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{200,236}}</string>
                <key>offset</key>
                <string>{-11,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,150},{200,236}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect510.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1702},{220,238}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,137},{220,238}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect511.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,980},{254,228}}</string>
                <key>offset</key>
                <string>{-12,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{254,228}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect512.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,704},{254,224}}</string>
                <key>offset</key>
                <string>{-12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{254,224}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect513.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,306},{260,212}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,161},{260,212}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect514.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,718},{260,210}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,162},{260,210}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect515.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,960},{252,210}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,162},{252,210}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect516.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1382},{252,208}}</string>
                <key>offset</key>
                <string>{-13,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,163},{252,208}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect517.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{260,208}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,163},{260,208}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect518.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,264},{258,222}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,149},{258,222}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect519.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{214,258}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,113},{214,258}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect520.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{220,300}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,72},{220,300}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{228,300}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,72},{228,300}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{214,300}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,72},{214,300}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect523.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,718},{208,260}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,112},{208,260}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect524.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1702},{208,236}}</string>
                <key>offset</key>
                <string>{-14,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,136},{208,236}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{208,224}}</string>
                <key>offset</key>
                <string>{-14,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,148},{208,224}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect526.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{208,228}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,144},{208,228}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect527.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1416},{208,276}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,96},{208,276}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect528.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1126},{208,280}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,92},{208,280}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect529.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1462},{230,238}}</string>
                <key>offset</key>
                <string>{-22,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,134},{230,238}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect530.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{208,376}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{208,376}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect531.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,390}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{218,390}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect532.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1730},{250,296}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,78},{250,296}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect533.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1214},{246,228}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,141},{246,228}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect534.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{218,228}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,137},{218,228}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect535.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{240,302}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,104},{240,302}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect536.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{254,352}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,84},{254,352}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect537.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{230,338}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,92},{230,338}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect538.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1694},{180,276}}</string>
                <key>offset</key>
                <string>{9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,122},{180,276}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect539.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1236},{144,226}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,168},{144,226}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect540.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,524},{122,178}}</string>
                <key>offset</key>
                <string>{10,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,199},{122,178}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect541.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,568},{148,186}}</string>
                <key>offset</key>
                <string>{11,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,190},{148,186}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect542.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,568},{148,192}}</string>
                <key>offset</key>
                <string>{11,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,184},{148,192}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect543.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1292},{122,178}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,191},{122,178}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect544.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1292},{122,178}}</string>
                <key>offset</key>
                <string>{10,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,190},{122,178}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
            <key>Effect545.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1292},{122,178}}</string>
                <key>offset</key>
                <string>{10,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,189},{122,178}}</string>
                <key>sourceSize</key>
                <string>{278,436}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffcba3e9a332201f83d2fc9919f170c3:ae3b12bcc2aa5be8ac3d41419f6d0a69:49bd771a7b3cf860df350e6d586e0617$</string>
            <key>textureFileName</key>
            <string>effect5.png</string>
        </dict>
    </dict>
</plist>
