<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Admin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1601},{88,108}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{88,108}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>addcannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1375},{104,108}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{104,108}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>addcannon_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1375},{104,108}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{104,108}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>autofire.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1073},{98,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{98,112}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>autofire_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1073},{98,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{98,112}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>btn_continue_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,906},{121,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,49}}</string>
                <key>sourceSize</key>
                <string>{121,49}</string>
            </dict>
            <key>btn_exit_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,999},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>dlg_queding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,695},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>dlg_queding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,695},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>dlg_quxiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,617},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>dlg_quxiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,617},{208,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,76}}</string>
                <key>sourceSize</key>
                <string>{208,76}</string>
            </dict>
            <key>frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{600,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,380}}</string>
                <key>sourceSize</key>
                <string>{600,380}</string>
            </dict>
            <key>hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1275},{98,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{98,110}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>hide_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1275},{98,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{98,110}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>img_TaskDragonKingCompleteDiamondBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,999},{549,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,120}}</string>
                <key>sourceSize</key>
                <string>{549,120}</string>
            </dict>
            <key>img_TaskDragonKingCompleteGoldBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,957},{549,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,120}}</string>
                <key>sourceSize</key>
                <string>{549,120}</string>
            </dict>
            <key>img_count_exit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1011,613}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{1011,613}}</string>
                <key>sourceSize</key>
                <string>{1011,623}</string>
            </dict>
            <key>img_lockBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,773},{131,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{131,145}</string>
            </dict>
            <key>img_lock_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,973},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,873},{98,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>lock_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,873},{98,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>lock_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1535},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1469},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1403},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1337},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1271},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1205},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1139},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1073},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mangerEnter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,901},{62,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,17}}</string>
                <key>sourceSize</key>
                <string>{62,17}</string>
            </dict>
            <key>mangerEnter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,837},{62,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,17}}</string>
                <key>sourceSize</key>
                <string>{62,17}</string>
            </dict>
            <key>mangerEnter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,773},{62,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,17}}</string>
                <key>sourceSize</key>
                <string>{62,17}</string>
            </dict>
            <key>mid_caption_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,957},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1173},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{100,110}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>option_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1173},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{100,110}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1601},{106,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{106,106}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>quit_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1711},{106,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{106,106}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>show.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1481},{90,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{90,108}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>show_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1481},{90,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{90,108}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>subcannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,973},{98,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{98,112}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>subcannon_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,973},{98,112}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{98,112}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,773},{98,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>unlock_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,773},{98,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>frame.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba2183072b085f7467b9c948d72e4e9$</string>
            <key>textureFileName</key>
            <string>frame.png</string>
        </dict>
    </dict>
</plist>
