<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_blue_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,266},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_blue_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,266},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_blue_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,266},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_blue_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_pink_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,214},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_pink_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,214},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_pink_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,214},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_pink_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>img_yellow_line_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{994,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{994,110}}</string>
                <key>sourceSize</key>
                <string>{994,110}</string>
            </dict>
            <key>img_yellow_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{994,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{994,98}}</string>
                <key>sourceSize</key>
                <string>{994,110}</string>
            </dict>
            <key>img_yellow_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,210},{994,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{994,94}}</string>
                <key>sourceSize</key>
                <string>{994,110}</string>
            </dict>
            <key>img_yellow_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{994,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{994,110}}</string>
                <key>sourceSize</key>
                <string>{994,110}</string>
            </dict>
            <key>img_yellow_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,114},{994,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{994,94}}</string>
                <key>sourceSize</key>
                <string>{994,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>line_1.png</string>
            <key>size</key>
            <string>{1994,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512fb53c3cc96a9a8abed999ed7e9874:907ebd8ec7029e4c500e9d8ec6bdb398:fb55f824607dac7595e51290fd643628$</string>
            <key>textureFileName</key>
            <string>line_1.png</string>
        </dict>
    </dict>
</plist>
