<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Net1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,368},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{34,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,296},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,83},{44,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,458},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,76},{58,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,650},{72,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,77},{72,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,810},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,72},{84,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,194},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,71},{96,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,772},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,69},{108,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,736},{118,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,63},{118,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,650},{140,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{140,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,200},{198,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{198,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,338},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,56},{146,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,558},{144,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,55},{144,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,332},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,83},{34,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,250},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,398},{58,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{58,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,902},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{70,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,58},{84,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,100},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,54},{96,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,450},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{108,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{118,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{140,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{146,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{146,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,428},{144,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{144,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,404},{32,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{32,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,204},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,338},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{58,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,698},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,64},{70,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,254},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,58},{84,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{96,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,340},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{108,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,714},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{118,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,572},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{140,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{146,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Net3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{140,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nets1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0c99c5b04ab6586ef09179993ffefea:a7a0f1a7f9265f6eaf3a6fe045e0a2e4:fa210ca6f1fdab729731ca6da349df60$</string>
            <key>textureFileName</key>
            <string>nets1.png</string>
        </dict>
    </dict>
</plist>
