<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fishDead_001_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,195},{22,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,63}</string>
			</dict>
			<key>fishDead_001_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,195},{22,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,63}</string>
			</dict>
			<key>fishDead_002_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,195},{24,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,42}</string>
			</dict>
			<key>fishDead_002_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,195},{24,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,46}</string>
			</dict>
			<key>fishDead_003_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,1185},{40,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,66}</string>
			</dict>
			<key>fishDead_003_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1616,1178},{38,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,54}</string>
			</dict>
			<key>fishDead_004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,1099},{47,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,82}</string>
			</dict>
			<key>fishDead_004_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,1083},{49,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,86}</string>
			</dict>
			<key>fishDead_004_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,1128},{49,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,78}</string>
			</dict>
			<key>fishDead_005_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,1099},{38,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,104}</string>
			</dict>
			<key>fishDead_005_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,1136},{38,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,98}</string>
			</dict>
			<key>fishDead_005_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,1183},{42,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,88}</string>
			</dict>
			<key>fishDead_006_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,744},{64,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,88}</string>
			</dict>
			<key>fishDead_006_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1540,1178},{52,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,72}</string>
			</dict>
			<key>fishDead_006_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,987},{60,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,88}</string>
			</dict>
			<key>fishDead_007_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,1036},{42,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,97}</string>
			</dict>
			<key>fishDead_007_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,1084},{42,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,95}</string>
			</dict>
			<key>fishDead_007_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1399,1051},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>fishDead_007_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,987},{46,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,93}</string>
			</dict>
			<key>fishDead_007_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,864},{46,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,95}</string>
			</dict>
			<key>fishDead_007_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,1082},{42,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,95}</string>
			</dict>
			<key>fishDead_008_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,1116},{55,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,100}</string>
			</dict>
			<key>fishDead_008_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,639},{57,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,106}</string>
			</dict>
			<key>fishDead_008_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,749},{53,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,106}</string>
			</dict>
			<key>fishDead_009_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,624},{70,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,116}</string>
			</dict>
			<key>fishDead_009_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,738},{50,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,122}</string>
			</dict>
			<key>fishDead_010_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,836},{86,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,108}</string>
			</dict>
			<key>fishDead_010_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,945},{70,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
			<key>fishDead_010_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,948},{82,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,84}</string>
			</dict>
			<key>fishDead_010_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,1034},{78,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,82}</string>
			</dict>
			<key>fishDead_010_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,859},{82,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>fishDead_010_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1029},{82,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,80}</string>
			</dict>
			<key>fishDead_011_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,702},{142,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,138}</string>
			</dict>
			<key>fishDead_011_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,624},{144,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,146}</string>
			</dict>
			<key>fishDead_011_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,738},{154,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,150}</string>
			</dict>
			<key>fishDead_011_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,646},{160,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,146}</string>
			</dict>
			<key>fishDead_012_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,972},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>fishDead_012_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,655},{126,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,124}</string>
			</dict>
			<key>fishDead_012_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,783},{126,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,122}</string>
			</dict>
			<key>fishDead_013_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,755},{67,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,175}</string>
			</dict>
			<key>fishDead_013_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1943,934},{63,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,163}</string>
			</dict>
			<key>fishDead_013_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,478},{63,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,157}</string>
			</dict>
			<key>fishDead_014_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,649},{81,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,202}</string>
			</dict>
			<key>fishDead_014_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,855},{65,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,224}</string>
			</dict>
			<key>fishDead_014_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1603,423},{81,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,222}</string>
			</dict>
			<key>fishDead_015_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,454},{197,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,150}</string>
			</dict>
			<key>fishDead_015_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,478},{199,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,164}</string>
			</dict>
			<key>fishDead_015_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,454},{199,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,166}</string>
			</dict>
			<key>fishDead_016_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1670,1029},{115,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,216}</string>
			</dict>
			<key>fishDead_016_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,793},{111,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,232}</string>
			</dict>
			<key>fishDead_016_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,478},{111,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,220}</string>
			</dict>
			<key>fishDead_017_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1803,1027},{115,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,226}</string>
			</dict>
			<key>fishDead_017_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,549},{111,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,240}</string>
			</dict>
			<key>fishDead_017_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1922,1101},{111,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,232}</string>
			</dict>
			<key>fishDead_018_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,2},{189,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,397}</string>
			</dict>
			<key>fishDead_018_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,2},{169,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,403}</string>
			</dict>
			<key>fishDead_018_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,2},{191,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,389}</string>
			</dict>
			<key>fishDead_019_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,423},{108,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,368}</string>
			</dict>
			<key>fishDead_019_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,243},{112,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,368}</string>
			</dict>
			<key>fishDead_019_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,359},{112,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,366}</string>
			</dict>
			<key>fishDead_019_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,175},{110,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,370}</string>
			</dict>
			<key>fishDead_020_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,243},{231,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,377}</string>
			</dict>
			<key>fishDead_020_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,381},{245,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,367}</string>
			</dict>
			<key>fishDead_020_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,2},{237,379}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,379}</string>
			</dict>
			<key>fishDead_021_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1803,755},{136,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,268}</string>
			</dict>
			<key>fishDead_021_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1471,423},{128,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,286}</string>
			</dict>
			<key>fishDead_021_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1471,713},{126,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,270}</string>
			</dict>
			<key>fishDead_022_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,359},{222,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,375}</string>
			</dict>
			<key>fishDead_022_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{240,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,375}</string>
			</dict>
			<key>fishDead_022_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,2},{228,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,375}</string>
			</dict>
			<key>fishDead_023_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,234},{216,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,356}</string>
			</dict>
			<key>fishDead_023_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,195},{224,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,334}</string>
			</dict>
			<key>fishDead_023_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,395},{208,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,356}</string>
			</dict>
			<key>fishDead_025_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1017},{124,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,110}</string>
			</dict>
			<key>fishDead_025_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,898},{122,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,115}</string>
			</dict>
			<key>fishDead_025_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,921},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishDead_025_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,729},{124,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,111}</string>
			</dict>
			<key>fishDead_025_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1172,1027},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishDead_025_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,909},{122,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>fishDead_025_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,772},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>fishDead_025_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,924},{124,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,136}</string>
			</dict>
			<key>fishDead_025_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,796},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishDead_025_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,857},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishDead_025_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,844},{124,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,137}</string>
			</dict>
			<key>fishDead_025_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,795},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_dead.png</string>
			<key>realTextureFileName</key>
			<string>fish_dead.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>