<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fishMove_019_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,1101},{100,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,364}</string>
			</dict>
			<key>fishMove_019_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,555},{90,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,368}</string>
			</dict>
			<key>fishMove_019_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,1471},{94,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,364}</string>
			</dict>
			<key>fishMove_019_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,1101},{96,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,368}</string>
			</dict>
			<key>fishMove_019_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,1101},{96,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,366}</string>
			</dict>
			<key>fishMove_019_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,1658},{94,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,364}</string>
			</dict>
			<key>fishMove_019_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,230},{102,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,366}</string>
			</dict>
			<key>fishMove_019_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,600},{102,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,360}</string>
			</dict>
			<key>fishMove_019_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,1290},{96,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,364}</string>
			</dict>
			<key>fishMove_020_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,683},{209,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,325}</string>
			</dict>
			<key>fishMove_020_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,230},{219,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,327}</string>
			</dict>
			<key>fishMove_020_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{243,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,319}</string>
			</dict>
			<key>fishMove_020_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,652},{233,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,315}</string>
			</dict>
			<key>fishMove_020_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,325},{231,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,323}</string>
			</dict>
			<key>fishMove_020_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,462},{217,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,325}</string>
			</dict>
			<key>fishMove_020_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,971},{209,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,327}</string>
			</dict>
			<key>fishMove_021_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,910},{108,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,253}</string>
			</dict>
			<key>fishMove_021_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1839},{106,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,265}</string>
			</dict>
			<key>fishMove_021_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1839},{110,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,261}</string>
			</dict>
			<key>fishMove_021_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1889,1290},{114,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,253}</string>
			</dict>
			<key>fishMove_021_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,1658},{110,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,263}</string>
			</dict>
			<key>fishMove_021_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,910},{104,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,253}</string>
			</dict>
			<key>fishMove_021_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,1839},{106,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,263}</string>
			</dict>
			<key>fishMove_021_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1839},{112,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,251}</string>
			</dict>
			<key>fishMove_021_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,1839},{110,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,251}</string>
			</dict>
			<key>fishMove_021_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1839},{106,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,265}</string>
			</dict>
			<key>fishMove_022_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,682},{224,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,314}</string>
			</dict>
			<key>fishMove_022_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,453},{226,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,316}</string>
			</dict>
			<key>fishMove_022_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,2},{224,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,322}</string>
			</dict>
			<key>fishMove_022_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,462},{216,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,326}</string>
			</dict>
			<key>fishMove_022_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,893},{204,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,326}</string>
			</dict>
			<key>fishMove_022_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,325},{226,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,324}</string>
			</dict>
			<key>fishMove_022_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,2},{224,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,326}</string>
			</dict>
			<key>fishMove_022_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,2},{224,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,320}</string>
			</dict>
			<key>fishMove_022_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,2},{224,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,318}</string>
			</dict>
			<key>fishMove_022_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,230},{228,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,316}</string>
			</dict>
			<key>fishMove_023_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,230},{228,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,314}</string>
			</dict>
			<key>fishMove_023_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,460},{228,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,316}</string>
			</dict>
			<key>fishMove_023_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,230},{226,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,322}</string>
			</dict>
			<key>fishMove_023_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,883},{216,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,324}</string>
			</dict>
			<key>fishMove_023_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,964},{206,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,322}</string>
			</dict>
			<key>fishMove_023_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,683},{206,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,328}</string>
			</dict>
			<key>fishMove_023_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,896},{204,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,322}</string>
			</dict>
			<key>fishMove_023_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,780},{214,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,328}</string>
			</dict>
			<key>fishMove_023_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1551,2},{224,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,318}</string>
			</dict>
			<key>fishMove_023_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,649},{230,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,312}</string>
			</dict>
			<key>fishMove_025_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1211},{124,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,110}</string>
			</dict>
			<key>fishMove_025_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1150},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishMove_025_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1337},{122,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>fishMove_025_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1302},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>fishMove_025_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1112},{124,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,136}</string>
			</dict>
			<key>fishMove_025_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,1839},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishMove_025_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1022},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishMove_025_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1112},{124,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,137}</string>
			</dict>
			<key>fishMove_025_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1211},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>fishMove_025_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,1925},{122,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,115}</string>
			</dict>
			<key>fishMove_025_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1150},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishMove_025_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1428},{124,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,111}</string>
			</dict>
			<key>fishMove_024_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,2},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_move2.png</string>
			<key>realTextureFileName</key>
			<string>fish_move2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>