<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Role/0/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,983},{66,91}}</string>
				<key>offset</key>
				<string>{-1,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,273},{69,107}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,507},{89,150}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,118},{111,150}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{118,150}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{126,150}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,883},{66,100}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,147},{74,126}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,348},{105,139}}</string>
				<key>offset</key>
				<string>{14,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,278},{107,137}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,481},{98,144}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,137},{70,150}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,331},{79,150}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,389},{89,150}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/0/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{121,150}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1043},{85,88}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,1114},{88,86}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,229},{119,130}}</string>
				<key>offset</key>
				<string>{9,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{110,130}}</string>
				<key>offset</key>
				<string>{7,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{110,131}}</string>
				<key>offset</key>
				<string>{5,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,255},{105,134}}</string>
				<key>offset</key>
				<string>{-3,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,437},{109,133}}</string>
				<key>offset</key>
				<string>{-13,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,958},{94,87}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,899},{103,95}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,807},{92,89}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,993},{86,88}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,955},{88,93}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,861},{93,111}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,277},{109,137}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/1/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,137},{118,129}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1074},{72,91}}</string>
				<key>offset</key>
				<string>{-1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1103},{80,96}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,225},{106,146}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,367},{99,140}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,331},{106,145}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,527},{94,141}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,287},{94,146}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,911},{82,95}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1006},{80,97}}</string>
				<key>offset</key>
				<string>{0,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,553},{76,96}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,649},{74,96}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,453},{76,100}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,972},{88,107}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,668},{88,123}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/2/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,0},{117,150}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,791},{73,92}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1002},{80,95}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,657},{88,149}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,380},{93,147}}</string>
				<key>offset</key>
				<string>{4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,539},{88,140}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,433},{91,141}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,386},{92,141}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,806},{86,105}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,745},{86,116}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,574},{89,119}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,693},{90,114}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,679},{93,112}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,117},{108,158}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,121},{105,157}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/3/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,126},{107,151}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,162}</string>
			</dict>
			<key>Role/UI/Monkey_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,415},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Monkey_Green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,453},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Monkey_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,523},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Monkey_Red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,527},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Monkey_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,546},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Monkey_Yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,561},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Niu_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,631},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Niu_Green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,635},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Niu_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,669},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Niu_Red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,739},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Niu_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,743},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Niu_Yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,625},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/RedBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,654},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sha_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,777},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sha_Green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,847},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sha_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,851},{107,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sha_Red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,1007},{107,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sha_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,733},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sha_Yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,762},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sun_Green.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,885},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sun_Green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,841},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sun_Red.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,870},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sun_Red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,949},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sun_Yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,978},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Sun_Yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,1057},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/YellowBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,791},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Door.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,0},{206,137}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,140}</string>
			</dict>
			<key>Role/UI/GreenBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,899},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>Role/UI/Hole.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{208,147}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,151}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>headAni.png</string>
			<key>realTextureFileName</key>
			<string>headAni.png</string>
			<key>size</key>
			<string>{1023,1200}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1200</integer>
		</dict>
	</dict>
</plist>