<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>VsA_01.png</key>
			<dict>
				<key>width</key>
				<integer>456</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>VsA_02.png</key>
			<dict>
				<key>width</key>
				<integer>325</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>458</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>VsA_03.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>785</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>VsA_04.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>982</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>VsA_05.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>1352</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>VsB_02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>VsB_01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>VsA_07.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>VsA_06.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>1163</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Vs_05.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>1677</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Vs_06.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Vs_01.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Vs_02.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>590</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Vs_03.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>885</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Vs_04.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>1180</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Action0.png</string>
			<key>realTextureFileName</key>
			<string>Action0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>