<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1826},{122,62}}</string>
                <key>offset</key>
                <string>{-142,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,149},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1762},{122,62}}</string>
                <key>offset</key>
                <string>{-142,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,150},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1804},{120,60}}</string>
                <key>offset</key>
                <string>{-141,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,151},{120,60}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1926},{120,58}}</string>
                <key>offset</key>
                <string>{-141,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,152},{120,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1250},{124,58}}</string>
                <key>offset</key>
                <string>{-143,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,151},{124,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-143,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,150},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1866},{120,58}}</string>
                <key>offset</key>
                <string>{-142,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,149},{120,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-143,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,150},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-143,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,150},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-143,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,149},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-142,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,149},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1190},{124,58}}</string>
                <key>offset</key>
                <string>{-143,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,149},{124,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1130},{124,58}}</string>
                <key>offset</key>
                <string>{-143,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,150},{124,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1070},{124,58}}</string>
                <key>offset</key>
                <string>{-143,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,150},{124,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-142,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,150},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-142,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,150},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1010},{124,58}}</string>
                <key>offset</key>
                <string>{-143,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,151},{124,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1368},{124,56}}</string>
                <key>offset</key>
                <string>{-143,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,153},{124,56}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1986},{122,58}}</string>
                <key>offset</key>
                <string>{-142,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,151},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1890},{122,58}}</string>
                <key>offset</key>
                <string>{-142,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,151},{122,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1310},{124,56}}</string>
                <key>offset</key>
                <string>{-143,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,154},{124,56}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,950},{124,58}}</string>
                <key>offset</key>
                <string>{-143,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,153},{124,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,890},{124,58}}</string>
                <key>offset</key>
                <string>{-143,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,152},{124,58}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{122,60}}</string>
                <key>offset</key>
                <string>{-142,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,150},{122,60}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L01_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,126},{120,60}}</string>
                <key>offset</key>
                <string>{-141,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,150},{120,60}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1698},{122,62}}</string>
                <key>offset</key>
                <string>{-143,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,148},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{126,68}}</string>
                <key>offset</key>
                <string>{-164,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,149},{126,68}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1268},{120,88}}</string>
                <key>offset</key>
                <string>{-182,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,139},{120,88}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,888},{110,100}}</string>
                <key>offset</key>
                <string>{-183,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,130},{110,100}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1112},{96,74}}</string>
                <key>offset</key>
                <string>{-175,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,135},{96,74}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{86,78}}</string>
                <key>offset</key>
                <string>{-163,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,135},{86,78}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1188},{92,78}}</string>
                <key>offset</key>
                <string>{-170,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,134},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1898},{86,80}}</string>
                <key>offset</key>
                <string>{-169,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,132},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1898},{86,80}}</string>
                <key>offset</key>
                <string>{-168,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,132},{86,80}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L02_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1390},{88,80}}</string>
                <key>offset</key>
                <string>{-168,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,132},{88,80}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L03_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1740},{120,62}}</string>
                <key>offset</key>
                <string>{-142,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,149},{120,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L03_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1634},{122,62}}</string>
                <key>offset</key>
                <string>{-143,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,149},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L03_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1676},{120,62}}</string>
                <key>offset</key>
                <string>{-143,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,149},{120,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L03_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1570},{122,62}}</string>
                <key>offset</key>
                <string>{-144,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,148},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L03_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1504},{122,64}}</string>
                <key>offset</key>
                <string>{-145,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,146},{122,64}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1612},{120,62}}</string>
                <key>offset</key>
                <string>{-141,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,148},{120,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_036a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,538},{38,30}}</string>
                <key>offset</key>
                <string>{-121,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,181},{38,30}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1472},{120,74}}</string>
                <key>offset</key>
                <string>{-141,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,148},{120,74}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_042a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,498},{38,30}}</string>
                <key>offset</key>
                <string>{-139,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,200},{38,30}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1426},{122,76}}</string>
                <key>offset</key>
                <string>{-140,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,147},{122,76}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_043a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,402},{36,38}}</string>
                <key>offset</key>
                <string>{-165,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,196},{36,38}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,824},{124,64}}</string>
                <key>offset</key>
                <string>{-140,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,145},{124,64}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_044a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,364},{36,38}}</string>
                <key>offset</key>
                <string>{-182,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,184},{36,38}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,270},{124,68}}</string>
                <key>offset</key>
                <string>{-140,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,144},{124,68}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_045a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,440},{34,38}}</string>
                <key>offset</key>
                <string>{-190,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,178},{34,38}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,200},{124,68}}</string>
                <key>offset</key>
                <string>{-140,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,145},{124,68}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_046a.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1898},{64,66}}</string>
                <key>offset</key>
                <string>{-188,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,156},{64,66}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,408},{124,66}}</string>
                <key>offset</key>
                <string>{-141,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,145},{124,66}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_056a.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1906},{78,76}}</string>
                <key>offset</key>
                <string>{-189,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,156},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,990},{120,96}}</string>
                <key>offset</key>
                <string>{-139,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,145},{120,96}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_057a.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1906},{78,78}}</string>
                <key>offset</key>
                <string>{-148,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,195},{78,78}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_057b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,498},{208,324}}</string>
                <key>offset</key>
                <string>{149,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,36},{208,324}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,340},{124,66}}</string>
                <key>offset</key>
                <string>{-132,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,140},{124,66}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_059a.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1906},{76,76}}</string>
                <key>offset</key>
                <string>{-94,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,134},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_059b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{252,360}}</string>
                <key>offset</key>
                <string>{130,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,0},{252,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,248},{124,62}}</string>
                <key>offset</key>
                <string>{-132,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,139},{124,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_061a.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1906},{78,78}}</string>
                <key>offset</key>
                <string>{-95,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,133},{78,78}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_061b.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,364},{338,360}}</string>
                <key>offset</key>
                <string>{87,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,0},{338,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,136},{126,62}}</string>
                <key>offset</key>
                <string>{-132,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,140},{126,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_063a.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1906},{76,78}}</string>
                <key>offset</key>
                <string>{-94,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,135},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_063b.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,364},{342,360}}</string>
                <key>offset</key>
                <string>{85,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,0},{342,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,72},{126,62}}</string>
                <key>offset</key>
                <string>{-133,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,143},{126,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_065a.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1906},{76,78}}</string>
                <key>offset</key>
                <string>{-96,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,144},{76,78}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_065b.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,708},{322,360}}</string>
                <key>offset</key>
                <string>{95,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,0},{322,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,374},{122,62}}</string>
                <key>offset</key>
                <string>{-136,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,147},{122,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_067a.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1906},{76,76}}</string>
                <key>offset</key>
                <string>{-104,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,156},{76,76}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_067b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{314,360}}</string>
                <key>offset</key>
                <string>{99,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,0},{314,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,824},{118,62}}</string>
                <key>offset</key>
                <string>{-140,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,149},{118,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_069a.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1906},{64,66}}</string>
                <key>offset</key>
                <string>{-119,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,163},{64,66}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_069b.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1032},{302,360}}</string>
                <key>offset</key>
                <string>{105,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,0},{302,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1548},{120,62}}</string>
                <key>offset</key>
                <string>{-141,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,149},{120,62}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_071a.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1324},{286,360}}</string>
                <key>offset</key>
                <string>{113,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,0},{286,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1612},{284,360}}</string>
                <key>offset</key>
                <string>{114,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,0},{284,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{284,360}}</string>
                <key>offset</key>
                <string>{114,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,0},{284,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1336},{284,360}}</string>
                <key>offset</key>
                <string>{114,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,0},{284,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1034},{288,360}}</string>
                <key>offset</key>
                <string>{112,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,0},{288,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{312,360}}</string>
                <key>offset</key>
                <string>{100,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,0},{312,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_084.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,704},{328,360}}</string>
                <key>offset</key>
                <string>{92,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,0},{328,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{346,360}}</string>
                <key>offset</key>
                <string>{83,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,0},{346,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_086.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{364,360}}</string>
                <key>offset</key>
                <string>{74,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{364,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_087.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{378,360}}</string>
                <key>offset</key>
                <string>{67,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{378,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,360}}</string>
                <key>offset</key>
                <string>{59,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{394,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
            <key>L04_089.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1622},{282,360}}</string>
                <key>offset</key>
                <string>{115,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,0},{282,360}}</string>
                <key>sourceSize</key>
                <string>{512,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dragonking_1.png</string>
            <key>size</key>
            <string>{1334,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8595fbbc9a7eccc67370daa769350ba9:1/1$</string>
            <key>textureFileName</key>
            <string>Dragonking_1.png</string>
        </dict>
    </dict>
</plist>
