<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>game_id</key>
		<string>0</string>
		<key>save_file</key>
		<string>PlatformGameScene</string>
		<key>game_resource</key>
		<string>PlatForm</string>
		<key>game_update_version</key>
		<string>Platform_Version.txt</string>
		<key>sound_path</key>
		<string>PlatForm/sounds/</string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>10</string>
		<key>game_name</key>
		<string>三人二七王</string>
		<key>game_current_version</key>
		<string>8.9.0</string>
		<key>save_file</key>
		<string>eqw3GameScene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_3eqw.png</string>
		<key>game_resource</key>
		<string>eqw3</string>
		<key>game_update_version</key>
		<string>EQW3_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/GameHot/ThreeTwoSevenKing.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string>game10</string>
		<key>sound_path</key>
		<string>eqw3/raw/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/10_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
		<key>share_text</key>
		<string>扎戏了来杀一把!</string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>557</string>
		<key>game_name</key>
		<string>南昌麻将</string>
		<key>game_current_version</key>
		<string>1.0.0</string>
		<key>save_file</key>
		<string>ncmjgamescene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_ddz.png</string>
		<key>game_resource</key>
		<string>GameNCMJ</string>
		<key>game_update_version</key>
		<string>NCMJ_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/GameHot/Landlords.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string>GameNCMJ/raw/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/30_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
	<!-- <dict>
		<key>game_id</key>
		<string>570</string>
		<key>game_name</key>
		<string>吉安麻将</string>
		<key>game_current_version</key>
		<string>1.0.0</string>
		<key>save_file</key>
		<string>jamjgamescene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_ddz.png</string>
		<key>game_resource</key>
		<string>GameJAMJ</string>
		<key>game_update_version</key>
		<string>JAMJ_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/GameHot/Landlords.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string>GameJAMJ/raw/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/30_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict> -->
	<dict>
		<key>game_id</key>
		<string>108</string>
		<key>game_name</key>
		<string>碰碰车</string>
		<key>game_current_version</key>
		<string>6.8.0</string>
		<key>save_file</key>
		<string>betcargamescene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_betcar.png</string>
		<key>game_resource</key>
		<string>betcar</string>
		<key>game_update_version</key>
		<string>betcar_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/GameHot/Landlords.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string>sound/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/30_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>127</string>
		<key>game_name</key>
		<string>金鲨银鲨</string>
		<key>game_current_version</key>
		<string>6.8.0</string>
		<key>save_file</key>
		<string>jsysgamescene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_jsys.png</string>
		<key>game_resource</key>
		<string>jsys</string>
		<key>game_update_version</key>
		<string>jsys_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/GameHot/Landlords.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string>sound/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/30_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>11</string>
		<key>game_name</key>
		<string>四人二七王</string>
		<key>game_current_version</key>
		<string>8.9.0</string>
		<key>save_file</key>
		<string>eqw4GameScene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_4eqw.png</string>
		<key>game_resource</key>
		<string>eqw4</string>
		<key>game_update_version</key>
		<string>EQW4_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/GameHot/FourTwoSevenKing.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string>game11</string>
		<key>sound_path</key>
		<string>eqw4/raw/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/11_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
		<key>share_text</key>
		<string>就差嫩一个!</string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>30</string>
		<key>game_name</key>
		<string>斗地主</string>
		<key>game_current_version</key>
		<string>7.2.0</string>
		<key>save_file</key>
		<string>ddzgamescene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_ddz.png</string>
		<key>game_resource</key>
		<string>ddz</string>
		<key>game_update_version</key>
		<string>DDZ_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/GameHot/Landlords.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string>game30</string>
		<key>sound_path</key>
		<string>ddz/raw/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/30_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
		<key>share_text</key>
		<string>扎戏凑个角!</string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>2015</string>
		<key>game_name</key>
		<string>四人牛牛</string>
		<key>game_current_version</key>
		<string>6.9.0</string>
		<key>save_file</key>
		<string>ox4GameScene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_ox4.png</string>
		<key>game_resource</key>
		<string>ox4</string>
		<key>game_update_version</key>
		<string>OX4_Version.txt</string>
		<key>loading_page_show</key>
		<string></string>
		<key>Rule_html</key>
		<string>http://www.dushigame.com/gamehot/FourBeef.html</string>
		<key>loading_page_have_path</key>
		<string></string>
		<key>loading_page_ui_json</key>
		<string></string>
		<key>loading_page_background</key>
		<string></string>
		<key>game_lua_module</key>
		<string>game2015</string>
		<key>sound_path</key>
		<string>ox4/raw/</string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/2015_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>600</string>
		<key>game_name</key>
		<string>四海龙王</string>
		<key>game_current_version</key>
		<string>7.0.0</string>
		<key>save_file</key>
		<string>shlwGameScene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_shlw.png</string>
		<key>game_resource</key>
		<string>shlw</string>
		<key>game_update_version</key>
		<string>shlw_Version.txt</string>
		<key>loading_page_show</key>
		<string>true</string>
		<key>loading_page_res_location</key>
		<string>shlw</string>
		<key>loading_page_have_path</key>
		<string>true</string>
		<key>loading_page_ui_json</key>
		<string>PlatForm/GameLoadingLayer.json</string>
		<key>loading_page_background</key>
		<string>shlw/GameLoading/6.png</string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string></string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/600_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>601</string>
		<key>game_name</key>
		<string>大闹天宫</string>
		<key>game_current_version</key>
		<string>9.3.0</string>
		<key>save_file</key>
		<string>dntgGameScene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_dntg.png</string>
		<key>game_resource</key>
		<string>dntg</string>
		<key>game_update_version</key>
		<string>dntg_Version.txt</string>
		<key>loading_page_show</key>
		<string>true</string>
		<key>loading_page_have_path</key>
		<string>true</string>
		<key>loading_page_ui_json</key>
		<string>PlatForm/GameLoadingLayer.json</string>
		<key>loading_page_background</key>
		<string>dntg/GameLoading/3.png</string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string></string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/601_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>602</string>
		<key>game_name</key>
		<string>李逵劈鱼</string>
		<key>game_current_version</key>
		<string>6.10.0</string>
		<key>save_file</key>
		<string>lkpyGameScene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_lkpy.png</string>
		<key>game_resource</key>
		<string>lkpy</string>
		<key>game_update_version</key>
		<string>lkpy_Version.txt</string>
		<key>loading_page_show</key>
		<string>true</string>
		<key>loading_page_have_path</key>
		<string>true</string>
		<key>loading_page_ui_json</key>
		<string>PlatForm/GameLoadingLayer.json</string>
		<key>loading_page_background</key>
		<string>lkpy/GameLoading/5.png</string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string></string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/602_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
	<dict>
		<key>game_id</key>
		<string>603</string>
		<key>game_name</key>
		<string>经典捕鱼</string>
		<key>game_current_version</key>
		<string>6.0.3</string>
		<key>save_file</key>
		<string>jdbyGameScene</string>
		<key>game_image</key>
		<string>PlatForm/UpdateUI/img_loading_jdby.png</string>
		<key>game_resource</key>
		<string>jdby</string>
		<key>game_update_version</key>
		<string>jdby_Version.txt</string>
		<key>loading_page_show</key>
		<string>true</string>
		<key>loading_page_have_path</key>
		<string>true</string>
		<key>loading_page_ui_json</key>
		<string>PlatForm/GameLoadingLayer.json</string>
		<key>loading_page_background</key>
		<string>jdby/GameLoading/4.png</string>
		<key>game_lua_module</key>
		<string></string>
		<key>sound_path</key>
		<string></string>
		<key>room_layout_manren</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_bishai</key>
		<string>PlatForm/EqwManRen.json</string>
		<key>room_layout_putong</key>
		<string>PlatForm/603_RoomInfoLayer.json</string>
		<key>room_layout_fangzuobi</key>
		<string>PlatForm/RoomLayout_fangzuobi.json</string>
		<key>room_layout_bairen</key>
		<string></string>
	</dict>
</array>
</plist>
