<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>room_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>room_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>room_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,157},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>room_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,203},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>room_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,206},{153,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,42}}</string>
                <key>sourceSize</key>
                <string>{153,42}</string>
            </dict>
            <key>room_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,251},{153,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,43}}</string>
                <key>sourceSize</key>
                <string>{153,43}</string>
            </dict>
            <key>room_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,206},{153,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,43}}</string>
                <key>sourceSize</key>
                <string>{153,43}</string>
            </dict>
            <key>room_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,161},{154,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,43}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>
            </dict>
            <key>room_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,203},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>room_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,68},{201,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,70}}</string>
                <key>sourceSize</key>
                <string>{201,70}</string>
            </dict>
            <key>room_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,161},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>room_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{153,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,12}}</string>
                <key>sourceSize</key>
                <string>{153,12}</string>
            </dict>
            <key>room_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,28}}</string>
                <key>sourceSize</key>
                <string>{310,28}</string>
            </dict>
            <key>room_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,239},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>room_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{178,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,64}}</string>
                <key>sourceSize</key>
                <string>{178,64}</string>
            </dict>
            <key>room_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,140},{178,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,64}}</string>
                <key>sourceSize</key>
                <string>{178,64}</string>
            </dict>
            <key>room_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{178,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,64}}</string>
                <key>sourceSize</key>
                <string>{178,64}</string>
            </dict>
            <key>room_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{287,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,127}}</string>
                <key>sourceSize</key>
                <string>{287,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Zhajinhua_room.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cae4ad119db5ebac77353e9aa0e249da$</string>
            <key>textureFileName</key>
            <string>Zhajinhua_room.png</string>
        </dict>
    </dict>
</plist>
