<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_res/net2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,361},{61,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,284},{77,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,361},{105,84}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,162},{128,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,284},{148,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,162},{170,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,251},{192,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,157},{213,127}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,0},{251,148}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{355,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,0},{260,157}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
			<key>game_res/net2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{258,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,360}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>net1.png</string>
			<key>realTextureFileName</key>
			<string>net1.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>