<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>5连线_03.png</key>
			<dict>
				<key>width</key>
				<integer>1032</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>1032</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>5连线_09.png</key>
			<dict>
				<key>width</key>
				<integer>347</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>347</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>1034</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>5连线_07.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>1383</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>5连线_05.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>1489</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>5连线_04.png</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>305</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>1668</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jinbi.png</key>
			<dict>
				<key>width</key>
				<integer>1280</integer>
				<key>height</key>
				<integer>369</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>369</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>5ofkind0.png</string>
			<key>realTextureFileName</key>
			<string>5ofkind0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>