<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fishDead_001_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1901},{22,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,63}</string>
			</dict>
			<key>fishDead_001_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1901},{22,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,63}</string>
			</dict>
			<key>fishDead_002_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,2012},{24,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,42}</string>
			</dict>
			<key>fishDead_002_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,2012},{24,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,46}</string>
			</dict>
			<key>fishDead_003_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,612},{40,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,66}</string>
			</dict>
			<key>fishDead_003_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,612},{38,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,54}</string>
			</dict>
			<key>fishDead_004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,545},{47,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,80}</string>
			</dict>
			<key>fishDead_004_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,345},{49,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,86}</string>
			</dict>
			<key>fishDead_004_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,1220},{49,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,78}</string>
			</dict>
			<key>fishDead_005_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1856},{38,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,104}</string>
			</dict>
			<key>fishDead_005_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,2003},{38,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,98}</string>
			</dict>
			<key>fishDead_005_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,612},{42,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,88}</string>
			</dict>
			<key>fishDead_006_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,1220},{64,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,88}</string>
			</dict>
			<key>fishDead_006_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,393},{52,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,72}</string>
			</dict>
			<key>fishDead_006_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,124},{60,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,88}</string>
			</dict>
			<key>fishDead_007_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1856},{42,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,97}</string>
			</dict>
			<key>fishDead_007_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,2003},{42,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,93}</string>
			</dict>
			<key>fishDead_007_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,2003},{44,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,91}</string>
			</dict>
			<key>fishDead_007_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,608},{46,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,93}</string>
			</dict>
			<key>fishDead_007_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,608},{46,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,93}</string>
			</dict>
			<key>fishDead_007_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1856},{42,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,95}</string>
			</dict>
			<key>fishDead_008_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,338},{55,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,100}</string>
			</dict>
			<key>fishDead_008_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,142},{57,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,106}</string>
			</dict>
			<key>fishDead_008_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,142},{53,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,106}</string>
			</dict>
			<key>fishDead_009_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,393},{70,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,116}</string>
			</dict>
			<key>fishDead_009_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,345},{50,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,122}</string>
			</dict>
			<key>fishDead_010_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,1128},{86,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,108}</string>
			</dict>
			<key>fishDead_010_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,323},{70,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
			<key>fishDead_010_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,598},{82,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,84}</string>
			</dict>
			<key>fishDead_010_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,184},{78,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,82}</string>
			</dict>
			<key>fishDead_010_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,266},{82,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>fishDead_010_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,463},{82,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,80}</string>
			</dict>
			<key>fishDead_011_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,0},{142,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,138}</string>
			</dict>
			<key>fishDead_011_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,199},{144,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,146}</string>
			</dict>
			<key>fishDead_011_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,479},{154,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,150}</string>
			</dict>
			<key>fishDead_011_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,497},{160,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,146}</string>
			</dict>
			<key>fishDead_012_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1287},{120,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,116}</string>
			</dict>
			<key>fishDead_012_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,0},{126,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,124}</string>
			</dict>
			<key>fishDead_012_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,633},{126,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,122}</string>
			</dict>
			<key>fishDead_013_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1220},{67,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,175}</string>
			</dict>
			<key>fishDead_013_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1236},{63,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,163}</string>
			</dict>
			<key>fishDead_013_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,124},{63,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,157}</string>
			</dict>
			<key>fishDead_014_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,395},{81,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,202}</string>
			</dict>
			<key>fishDead_014_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1236},{65,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,226}</string>
			</dict>
			<key>fishDead_014_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,398},{81,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,222}</string>
			</dict>
			<key>fishDead_015_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1898},{197,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,150}</string>
			</dict>
			<key>fishDead_015_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,199},{199,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,164}</string>
			</dict>
			<key>fishDead_015_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,0},{199,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,166}</string>
			</dict>
			<key>fishDead_016_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,497},{115,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,216}</string>
			</dict>
			<key>fishDead_016_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1894},{109,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,232}</string>
			</dict>
			<key>fishDead_016_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,497},{111,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,220}</string>
			</dict>
			<key>fishDead_017_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1923},{115,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,226}</string>
			</dict>
			<key>fishDead_017_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1923},{111,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,240}</string>
			</dict>
			<key>fishDead_017_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1901},{111,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,232}</string>
			</dict>
			<key>fishDead_018_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,654},{189,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,397}</string>
			</dict>
			<key>fishDead_018_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1051},{169,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,403}</string>
			</dict>
			<key>fishDead_018_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,643},{191,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,389}</string>
			</dict>
			<key>fishDead_019_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,0},{200,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,497}</string>
			</dict>
			<key>fishDead_019_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,0},{262,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,497}</string>
			</dict>
			<key>fishDead_019_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1299},{276,557}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,557}</string>
			</dict>
			<key>fishDead_019_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,655},{292,581}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,581}</string>
			</dict>
			<key>fishDead_019_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1302},{302,599}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,599}</string>
			</dict>
			<key>fishDead_019_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1302},{340,621}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,621}</string>
			</dict>
			<key>fishDead_019_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,655},{366,647}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,647}</string>
			</dict>
			<key>fishDead_019_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{372,655}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,655}</string>
			</dict>
			<key>fishDead_025_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,602},{124,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,110}</string>
			</dict>
			<key>fishDead_025_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,884},{122,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,115}</string>
			</dict>
			<key>fishDead_025_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,476},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishDead_025_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,884},{124,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,111}</string>
			</dict>
			<key>fishDead_025_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,726},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishDead_025_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,1006},{122,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>fishDead_025_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,759},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>fishDead_025_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,187},{124,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,136}</string>
			</dict>
			<key>fishDead_025_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,0},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishDead_025_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,195},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishDead_025_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,0},{124,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,137}</string>
			</dict>
			<key>fishDead_025_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,476},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_dead.png</string>
			<key>realTextureFileName</key>
			<string>fish_dead.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>