<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish_bomb_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,2},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>fish_bomb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1890,156},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>fishMove_020_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{312,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,249}</string>
			</dict>
			<key>fishMove_020_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,253},{312,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,241}</string>
			</dict>
			<key>fishMove_020_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,2},{312,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,249}</string>
			</dict>
			<key>fishMove_020_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1578,253},{304,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,241}</string>
			</dict>
			<key>fishMove_021_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,2},{310,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,249}</string>
			</dict>
			<key>fishMove_021_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,2},{310,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,247}</string>
			</dict>
			<key>fishMove_021_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,2},{310,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,249}</string>
			</dict>
			<key>fishMove_021_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,2},{310,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,247}</string>
			</dict>
			<key>fishMove_022_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,431},{178,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,170}</string>
			</dict>
			<key>fishMove_022_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,255},{182,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,170}</string>
			</dict>
			<key>fishMove_022_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,455},{178,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,170}</string>
			</dict>
			<key>fishMove_022_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,255},{178,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,172}</string>
			</dict>
			<key>fishMove_022_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,429},{176,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,172}</string>
			</dict>
			<key>fishMove_023_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,255},{208,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,196}</string>
			</dict>
			<key>fishMove_023_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,255},{208,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,196}</string>
			</dict>
			<key>fishMove_023_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,255},{208,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,196}</string>
			</dict>
			<key>fishMove_024_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,581},{128,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
			<key>fishMove_024_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,579},{128,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
			<key>fishMove_024_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,629},{128,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
			<key>fishMove_024_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,629},{128,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
			<key>fishMove_024_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,725},{128,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,118}</string>
			</dict>
			<key>fishMove_024_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,455},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>fishMove_024_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,455},{128,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,120}</string>
			</dict>
			<key>fishMove_025_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,605},{124,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,110}</string>
			</dict>
			<key>fishMove_025_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,701},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishMove_025_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,847},{122,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,114}</string>
			</dict>
			<key>fishMove_025_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,579},{122,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,125}</string>
			</dict>
			<key>fishMove_025_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,597},{124,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,136}</string>
			</dict>
			<key>fishMove_025_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,310},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishMove_025_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,438},{124,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,143}</string>
			</dict>
			<key>fishMove_025_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,469},{124,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,137}</string>
			</dict>
			<key>fishMove_025_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,455},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>fishMove_025_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,751},{122,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,115}</string>
			</dict>
			<key>fishMove_025_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,705},{122,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,111}</string>
			</dict>
			<key>fishMove_025_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,498},{124,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,111}</string>
			</dict>
			<key>fishMove_026_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,255},{210,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,214}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_move2.png</string>
			<key>realTextureFileName</key>
			<string>fish_move2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>