<!-- 金币动画 -->
<array>
	<dict>
		<key>name</key>		<string>CoinMove0</string>
		<key>format</key>	<string>CoinMove0_%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
		</array>
	</dict>

	<dict>
		<key>name</key>		<string>CoinMove1</string>
		<key>format</key>	<string>CoinMove1_%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
		</array>
	</dict>
	
	<!-- 爆炸动画特效 -->
	<dict>
		<key>name</key>		<string>Effect0</string>
		<key>format</key>	<string>Effect0%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>0,1</string>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
		</array>
	</dict>

	<dict>
		<key>name</key>		<string>Effect1</string>
		<key>format</key>	<string>Effect1%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>0,1</string>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
			<string>13,1</string>
			<string>14,1</string>
			<string>15,1</string>
			<string>16,1</string>
			<string>17,1</string>
			<string>18,1</string>
			<string>19,1</string>
			<string>20,1</string>
			<string>21,1</string>
		</array>
	</dict>

	<dict>
		<key>name</key>		<string>Effect2</string>
		<key>format</key>	<string>Effect2%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>1,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>6,1</string>
			<string>8,1</string>
			<string>10,1</string>
			<string>12,1</string>
			<string>15,1</string>
			<string>16,1</string>
			<string>18,1</string>
			<string>20,1</string>
		</array>
	</dict>
	<!-- 炼丹炉金箍棒动画 -->
<dict>
		<key>name</key>		<string>Effect3</string>
		<key>format</key>	<string>Effect3%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
			<string>13,1</string>
			<string>14,1</string>
			<string>15,1</string>
			<string>16,1</string>	
			<string>17,1</string>
			<string>18,1</string>
			<string>19,1</string>
			<string>20,1</string>
			<string>21,1</string>
			<string>22,1</string>
			<string>23,1</string>
			<string>24,1</string>
			<string>25,1</string>
			<string>26,1</string>
			<string>27,1</string>			
		</array>
</dict>
	
	<!-- 如意金箍棒字幕动画 -->
<dict>
	<key>name</key>		<string>Effect4</string>
	<key>format</key>	<string>Effect4%02d.png</string>
	<key>delay</key>	<string>0.05</string>
	<key>frames</key>
	<array>
		<string>1,1</string>
		<string>2,1</string>
		<string>3,1</string>
		<string>4,1</string>
		<string>5,1</string>
		<string>6,1</string>
		<string>7,1</string>
		<string>8,1</string>
		<string>9,1</string>
		<string>10,1</string>
		<string>11,1</string>
		<string>12,1</string>
		<string>13,1</string>
		<string>14,1</string>
		<string>15,1</string>
		<string>16,1</string>	
		<string>17,1</string>
		<string>18,1</string>
		<string>19,1</string>
		<string>20,1</string>
		<string>21,1</string>
		<string>22,1</string>
		<string>23,1</string>
		<string>24,1</string>	
	</array>
</dict>
	
	<!-- 炼丹炉金刚塔动画 -->
<dict>
		<key>name</key>		<string>Effect5</string>
		<key>format</key>	<string>Effect5%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
			<string>13,1</string>
			<string>14,1</string>
			<string>15,1</string>
			<string>16,1</string>	
			<string>17,1</string>
			<string>18,1</string>
			<string>19,1</string>
			<string>20,1</string>
			<string>21,1</string>
			<string>22,1</string>
			<string>23,1</string>
			<string>24,1</string>
			<string>25,1</string>
			<string>26,1</string>
			<string>27,1</string>
			<string>28,1</string>
			<string>29,1</string>
			<string>30,1</string>
			<string>31,1</string>
			<string>32,1</string>
			<string>33,1</string>
			<string>34,1</string>
			<string>35,1</string>
			<string>36,1</string>
			<string>37,1</string>
			<string>38,1</string>
			<string>39,1</string>
			<string>40,1</string>
			<string>41,1</string>	
			<string>42,1</string>
			<string>43,1</string>
			<string>44,1</string>
			<string>45,1</string>
		</array>
</dict>
	
	<!-- 镇妖金刚塔字幕动画 -->
<dict>
	<key>name</key>		<string>Effect6</string>
	<key>format</key>	<string>Effect6%02d.png</string>
	<key>delay</key>	<string>0.05</string>
	<key>frames</key>
	<array>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
			<string>13,1</string>
			<string>14,1</string>
			<string>15,1</string>
			<string>16,1</string>	
			<string>17,1</string>
			<string>18,1</string>
			<string>19,1</string>
			<string>20,1</string>
			<string>21,1</string>
			<string>22,1</string>
			<string>23,1</string>
			<string>24,1</string>
			<string>25,1</string>
			<string>26,1</string>
			<string>27,1</string>
			<string>28,1</string>
			<string>29,1</string>
			<string>30,1</string>
	</array>
</dict>	
	
	<!-- 炼丹炉风火轮动画 -->
<dict>
		<key>name</key>		<string>Effect7</string>
		<key>format</key>	<string>Effect7%02d.png</string>
		<key>delay</key>	<string>0.05</string>
		<key>frames</key>
		<array>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
			<string>13,1</string>
			<string>14,1</string>
			<string>15,1</string>
			<string>16,1</string>	
			<string>17,1</string>
			<string>18,1</string>
			<string>19,1</string>
			<string>20,1</string>
			<string>21,1</string>
			<string>22,1</string>
			<string>23,1</string>
			<string>24,1</string>
			<string>25,1</string>
			<string>26,1</string>
			<string>27,1</string>
			<string>28,1</string>
			<string>29,1</string>
			<string>30,1</string>
			<string>31,1</string>
			<string>32,1</string>
			<string>33,1</string>
			<string>34,1</string>
			<string>35,1</string>
			<string>36,1</string>
			<string>37,1</string>
			<string>38,1</string>
			<string>39,1</string>
			<string>40,1</string>
			<string>41,1</string>	
			<string>42,1</string>
			<string>43,1</string>
			<string>44,1</string>
			<string>45,1</string>
			<string>46,1</string>
			<string>47,1</string>
			<string>48,1</string>
			<string>49,1</string>
			<string>50,1</string>
			<string>51,1</string>	
			<string>52,1</string>
			<string>53,1</string>
			<string>54,1</string>
			<string>55,1</string>
			<string>56,1</string>
		</array>
</dict>
	
	<!-- 无敌风火轮字幕动画 -->
<dict>
	<key>name</key>		<string>Effect8</string>
	<key>format</key>	<string>Effect8%02d.png</string>
	<key>delay</key>	<string>0.05</string>
	<key>frames</key>
	<array>
			<string>1,1</string>
			<string>2,1</string>
			<string>3,1</string>
			<string>4,1</string>
			<string>5,1</string>
			<string>6,1</string>
			<string>7,1</string>
			<string>8,1</string>
			<string>9,1</string>
			<string>10,1</string>
			<string>11,1</string>
			<string>12,1</string>
			<string>13,1</string>
			<string>14,1</string>
			<string>15,1</string>
			<string>16,1</string>	
	</array>
</dict>		
	
</array>
