<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove_019_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{288,478}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{288,478}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{298,486}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{298,486}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,318},{308,488}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{308,488}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{316,482}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,51},{316,482}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,330},{324,474}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,56},{324,474}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{328,472}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,58},{328,472}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,474}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,58},{330,474}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{326,478}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,55},{326,478}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{314,480}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,51},{314,480}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,808},{292,476}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{292,476}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1786},{276,470}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,57},{276,470}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1286},{278,470}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,58},{278,470}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1306},{288,478}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{288,478}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{298,486}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{298,486}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,318},{308,488}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,47},{308,488}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_019_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{316,482}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,51},{316,482}}</string>
                <key>sourceSize</key>
                <string>{400,600}</string>
            </dict>
            <key>fishMove_020_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1874},{382,384}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,35},{382,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2196},{380,384}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,34},{380,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1104},{384,384}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,35},{384,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1042},{384,384}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{384,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2258},{382,380}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{382,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,718},{384,384}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{384,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1812},{382,384}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,34},{382,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2120},{380,382}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,35},{380,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,656},{384,384}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{384,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1490},{384,382}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,35},{384,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1428},{384,382}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,35},{384,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,332},{384,386}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,33},{384,386}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1874},{382,384}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,35},{382,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2196},{380,384}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,34},{380,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1104},{384,384}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,35},{384,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1042},{384,384}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{384,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2258},{382,380}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{382,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,718},{384,384}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{384,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1812},{382,384}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,34},{382,384}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_020_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2120},{380,382}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,35},{380,382}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>fishMove_021_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,318},{155,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,469}}</string>
                <key>sourceSize</key>
                <string>{155,469}</string>
            </dict>
            <key>fishMove_021_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,789},{153,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,471}}</string>
                <key>sourceSize</key>
                <string>{153,471}</string>
            </dict>
            <key>fishMove_021_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,964},{151,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,473}}</string>
                <key>sourceSize</key>
                <string>{151,473}</string>
            </dict>
            <key>fishMove_021_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1262},{147,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,475}}</string>
                <key>sourceSize</key>
                <string>{147,475}</string>
            </dict>
            <key>fishMove_021_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1290},{141,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,479}}</string>
                <key>sourceSize</key>
                <string>{141,479}</string>
            </dict>
            <key>fishMove_021_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,2},{137,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,483}}</string>
                <key>sourceSize</key>
                <string>{137,483}</string>
            </dict>
            <key>fishMove_021_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1203},{139,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,485}}</string>
                <key>sourceSize</key>
                <string>{139,485}</string>
            </dict>
            <key>fishMove_021_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1439},{143,485}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,485}}</string>
                <key>sourceSize</key>
                <string>{143,485}</string>
            </dict>
            <key>fishMove_021_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,718},{147,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,483}}</string>
                <key>sourceSize</key>
                <string>{147,483}</string>
            </dict>
            <key>fishMove_021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,809},{149,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,479}}</string>
                <key>sourceSize</key>
                <string>{149,479}</string>
            </dict>
            <key>fishMove_021_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,487},{151,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,475}}</string>
                <key>sourceSize</key>
                <string>{151,475}</string>
            </dict>
            <key>fishMove_021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,334},{155,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,473}}</string>
                <key>sourceSize</key>
                <string>{155,473}</string>
            </dict>
            <key>fishMove_021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,318},{155,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,469}}</string>
                <key>sourceSize</key>
                <string>{155,469}</string>
            </dict>
            <key>fishMove_021_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,789},{153,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,471}}</string>
                <key>sourceSize</key>
                <string>{153,471}</string>
            </dict>
            <key>fishMove_021_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,318},{155,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,469}}</string>
                <key>sourceSize</key>
                <string>{155,469}</string>
            </dict>
            <key>fishMove_022_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2928},{348,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,340}}</string>
                <key>sourceSize</key>
                <string>{348,340}</string>
            </dict>
            <key>fishMove_022_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2662},{348,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,392}}</string>
                <key>sourceSize</key>
                <string>{348,392}</string>
            </dict>
            <key>fishMove_022_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2578},{348,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,402}}</string>
                <key>sourceSize</key>
                <string>{348,402}</string>
            </dict>
            <key>fishMove_022_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2502},{348,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,392}}</string>
                <key>sourceSize</key>
                <string>{348,392}</string>
            </dict>
            <key>fishMove_022_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2258},{348,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,402}}</string>
                <key>sourceSize</key>
                <string>{348,402}</string>
            </dict>
            <key>fishMove_022_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2640},{348,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,396}}</string>
                <key>sourceSize</key>
                <string>{348,396}</string>
            </dict>
            <key>fishMove_022_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2852},{328,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,368}}</string>
                <key>sourceSize</key>
                <string>{328,368}</string>
            </dict>
            <key>fishMove_022_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,3056},{328,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,356}}</string>
                <key>sourceSize</key>
                <string>{328,356}</string>
            </dict>
            <key>fishMove_022_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3378},{328,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,348}}</string>
                <key>sourceSize</key>
                <string>{328,348}</string>
            </dict>
            <key>fishMove_022_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,3182},{328,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,332}}</string>
                <key>sourceSize</key>
                <string>{328,332}</string>
            </dict>
            <key>fishMove_022_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3038},{348,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,338}}</string>
                <key>sourceSize</key>
                <string>{348,338}</string>
            </dict>
            <key>fishMove_022_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,3270},{348,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,332}}</string>
                <key>sourceSize</key>
                <string>{348,332}</string>
            </dict>
            <key>fishMove_023_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2912},{360,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,267}}</string>
                <key>sourceSize</key>
                <string>{360,267}</string>
            </dict>
            <key>fishMove_023_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2550},{360,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,267}}</string>
                <key>sourceSize</key>
                <string>{360,267}</string>
            </dict>
            <key>fishMove_023_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,3386},{360,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,265}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>fishMove_023_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,3537},{360,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,261}}</string>
                <key>sourceSize</key>
                <string>{360,261}</string>
            </dict>
            <key>fishMove_023_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,3512},{360,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,261}}</string>
                <key>sourceSize</key>
                <string>{360,261}</string>
            </dict>
            <key>fishMove_023_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3708},{360,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,263}}</string>
                <key>sourceSize</key>
                <string>{360,263}</string>
            </dict>
            <key>fishMove_023_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,3604},{360,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,263}}</string>
                <key>sourceSize</key>
                <string>{360,263}</string>
            </dict>
            <key>fishMove_023_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,3430},{360,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,261}}</string>
                <key>sourceSize</key>
                <string>{360,261}</string>
            </dict>
            <key>fishMove_023_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,3274},{360,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,261}}</string>
                <key>sourceSize</key>
                <string>{360,261}</string>
            </dict>
            <key>fishMove_023_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,3775},{360,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,259}}</string>
                <key>sourceSize</key>
                <string>{360,259}</string>
            </dict>
            <key>fishMove_023_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,3068},{360,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,265}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>fishMove_023_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,1758},{360,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,267}}</string>
                <key>sourceSize</key>
                <string>{360,267}</string>
            </dict>
            <key>fishMove_024_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1739},{143,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{143,150}}</string>
                <key>sourceSize</key>
                <string>{147,154}</string>
            </dict>
            <key>fishMove_025_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1926},{244,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,209}}</string>
                <key>sourceSize</key>
                <string>{244,209}</string>
            </dict>
            <key>fishMove_025_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2341},{240,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,207}}</string>
                <key>sourceSize</key>
                <string>{240,207}</string>
            </dict>
            <key>fishMove_025_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,2648},{234,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,205}}</string>
                <key>sourceSize</key>
                <string>{234,205}</string>
            </dict>
            <key>fishMove_025_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,3800},{230,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,207}}</string>
                <key>sourceSize</key>
                <string>{230,207}</string>
            </dict>
            <key>fishMove_025_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,3792},{226,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,211}}</string>
                <key>sourceSize</key>
                <string>{226,211}</string>
            </dict>
            <key>fishMove_025_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,3748},{226,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,211}}</string>
                <key>sourceSize</key>
                <string>{226,211}</string>
            </dict>
            <key>fishMove_025_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,2855},{226,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,211}}</string>
                <key>sourceSize</key>
                <string>{226,211}</string>
            </dict>
            <key>fishMove_025_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,3800},{230,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,207}}</string>
                <key>sourceSize</key>
                <string>{230,207}</string>
            </dict>
            <key>fishMove_025_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,2412},{234,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,207}}</string>
                <key>sourceSize</key>
                <string>{234,207}</string>
            </dict>
            <key>fishMove_025_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2172},{238,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,209}}</string>
                <key>sourceSize</key>
                <string>{238,209}</string>
            </dict>
            <key>fishMove_025_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2130},{242,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,209}}</string>
                <key>sourceSize</key>
                <string>{242,209}</string>
            </dict>
            <key>fishMove_025_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,1884},{244,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,209}}</string>
                <key>sourceSize</key>
                <string>{244,209}</string>
            </dict>
            <key>fishMove_026_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2127},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1928},{126,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,116}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>fishMove_026_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2009},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1891},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1810},{128,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>fishMove_026_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1690},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>fishMove_026_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1771},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move2.png</string>
            <key>size</key>
            <string>{2053,4070}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d19605a3a9da31a4825e60bef463d1c$</string>
            <key>textureFileName</key>
            <string>fish_move2.png</string>
        </dict>
    </dict>
</plist>
