<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish20_d_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{207,315}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,5},{207,315}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,211},{203,315}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,5},{203,315}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{207,315}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{207,315}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,416},{219,307}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,6},{219,307}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,416},{235,303}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{235,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,725},{247,301}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{247,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish21_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{154,294}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,161},{154,294}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{184,396}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,59},{184,396}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,436},{204,422}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,33},{204,422}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,432}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,23},{222,432}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{220,428}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,27},{220,428}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish23_d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,860},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish24_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,721},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_dead3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c226470547b4110de43d7c7b56b56703$</string>
            <key>textureFileName</key>
            <string>fish_dead3.png</string>
        </dict>
    </dict>
</plist>
