<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dish.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,857},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>fish10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,716},{131,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{131,101}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,605},{131,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{131,101}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{129,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{129,111}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,857},{129,123}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{129,123}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,884},{129,135}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{129,135}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,726},{129,141}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{129,141}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,752},{129,143}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{129,143}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,752},{129,143}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{129,143}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{129,137}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{129,137}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,883},{133,129}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{133,129}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,883},{133,127}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{133,127}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,883},{133,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{133,125}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,650},{133,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{133,121}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,472},{133,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{133,109}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,583},{131,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{131,103}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,472},{131,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{131,105}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>fish11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,164},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,160},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,142},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,248},{184,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{184,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{184,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{184,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,208},{186,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{186,78}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,226},{186,74}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{186,74}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{186,70}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{186,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,244},{186,68}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{186,68}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,356},{186,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{186,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,302},{186,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{186,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,288},{186,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{186,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,140},{188,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{188,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,74},{188,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{188,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,72},{188,66}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{188,66}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{188,68}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{188,68}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{188,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{188,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{188,72}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{188,72}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{188,76}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{188,78}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{186,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{186,80}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,80},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish11_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,76},{186,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{186,82}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>fish12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{156,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{156,156}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,314},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{156,160}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>fish8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,773},{126,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{126,70}}</string>
                <key>sourceSize</key>
                <string>{132,74}</string>
            </dict>
            <key>fish8_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,318},{126,70}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{132,74}</string>
            </dict>
            <key>fish8_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,190},{126,70}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{126,70}}</string>
                <key>sourceSize</key>
                <string>{132,74}</string>
            </dict>
            <key>fish9_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,402},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,332},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,516},{158,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,494},{158,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,564},{156,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,510},{156,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,542},{156,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{156,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,682},{154,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,612},{154,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,845},{152,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,704},{152,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,656},{152,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,634},{152,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,586},{152,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{152,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{152,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,580},{154,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,472},{156,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{156,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,446},{158,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,440},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,424},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>fish9_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,370},{158,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,68}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ccf5b16162bc42b851c771d62bafd21$</string>
            <key>textureFileName</key>
            <string>fish_move1.png</string>
        </dict>
    </dict>
</plist>
