<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish20_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,305},{249,299}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{249,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{241,295}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{241,295}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,486},{231,293}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{231,293}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,606},{221,291}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{221,291}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,719},{219,293}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{219,293}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,596},{223,291}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{223,291}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,301},{229,293}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{229,293}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,245},{239,295}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{239,295}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{247,297}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{247,297}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{251,299}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{251,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{247,301}}</string>
                <key>offset</key>
                <string>{-15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{247,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{235,305}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{235,305}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_d_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,307}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,7},{219,307}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_dead2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72359c6488570309b40c2a87cded4344$</string>
            <key>textureFileName</key>
            <string>fish_dead2.png</string>
        </dict>
    </dict>
</plist>
