<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,514},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,258},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,514},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bingo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>coin2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,770},{82,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{82,14}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,854},{82,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{82,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,940},{82,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{82,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{82,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,770},{82,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,770},{82,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{82,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,770},{82,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{82,14}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,856},{84,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{84,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,942},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{82,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,856},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>coin2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{84,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{84,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_gold.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a9a297aa2bf754dfc232d237be240b$</string>
            <key>textureFileName</key>
            <string>fish_gold.png</string>
        </dict>
    </dict>
</plist>
