<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish17_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,765},{282,142}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{282,142}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish17_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,597},{294,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{294,140}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish17_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{298,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{298,140}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish17_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,739},{290,138}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{290,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish18_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{494,234}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,33},{494,234}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,212}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{502,212}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish18_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{488,238}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{488,238}}</string>
                <key>sourceSize</key>
                <string>{512,304}</string>
            </dict>
            <key>fish19_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,375},{460,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{460,135}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish19_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{458,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{458,139}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish19_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,512},{456,139}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{456,139}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish19_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,238},{462,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{462,135}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,512},{251,299}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{251,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_dead1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:177992cf7d1e148cca937d6b42b07c98$</string>
            <key>textureFileName</key>
            <string>fish_dead1.png</string>
        </dict>
    </dict>
</plist>
