<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SkillIcon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1687},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1669},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon21.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1665},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon30.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1577},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon31.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1529},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon32.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1481},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon40.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1433},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon41.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1385},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon42.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1026},{46,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon43.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1337},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon50.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1278},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon51.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1230},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon52.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1182},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon53.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1074},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>SkillIcon54.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1074},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1723},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>Star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1723},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>Star_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1713},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>Star_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1717},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>Star_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1713},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>Star_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1326},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>StrengthenBow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1661},{60,66}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{60,66}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>StrengthenBow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1597},{70,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>StrengthenBow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1597},{66,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{66,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>StrengthenBow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1463},{68,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>StrengthenBow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1533},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{70,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>UIEffect_013_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,644},{54,52}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{54,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,588},{54,54}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{54,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1477},{90,108}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{90,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1477},{128,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1427},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1371},{118,96}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{118,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1603},{98,98}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1569},{98,100}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{98,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1385},{76,76}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{76,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,397},{80,82}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{80,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1295},{82,88}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{82,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1625},{60,68}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{60,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1597},{62,70}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{62,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1297},{62,72}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{62,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,902},{58,52}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{58,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,840},{60,52}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,18},{60,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,962},{62,50}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{62,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,764},{62,30}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{62,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIEffect_013_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,230},{62,20}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,37},{62,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1427},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1297},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1297},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1467},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1337},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eff_edge_effect00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1469},{128,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>qungon0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,588},{240,174}}</string>
                <key>offset</key>
                <string>{-40,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{240,174}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1295},{236,180}}</string>
                <key>offset</key>
                <string>{-35,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{236,180}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,797},{320,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{320,188}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,903},{320,174}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{320,174}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{320,206}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{320,206}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1079},{318,214}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{318,214}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1095},{316,240}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{316,240}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{320,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,258}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{320,228}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{320,228}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1077},{318,218}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{318,218}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,230},{266,178}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{266,178}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,410},{266,176}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{266,176}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{282,226}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{282,226}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,397},{320,252}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,252}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>qungon0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,651},{320,250}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{320,250}}</string>
                <key>sourceSize</key>
                <string>{320,260}</string>
            </dict>
            <key>strengten_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,481},{314,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{314,78}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>strengten_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,987},{320,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,88}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>strengthen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{725,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{725,393}}</string>
                <key>sourceSize</key>
                <string>{725,393}</string>
            </dict>
            <key>strengthen_bt_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1122},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>strengthen_bt_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,698},{140,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,53}}</string>
                <key>sourceSize</key>
                <string>{140,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>strengthen.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38f45b7d28e88b5948de3195b3ed0742:1/1$</string>
            <key>textureFileName</key>
            <string>strengthen.png</string>
        </dict>
    </dict>
</plist>
