<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/GameRes850/texasHoldem_npc.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1},{164,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,195}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,608},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_btn_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,664},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,479},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,698},{278,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{278,532}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_room_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,511},{96,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,95}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_room_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,576},{96,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,95}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,668},{141,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,51}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,374},{145,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,60}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,657},{147,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,54}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,521},{145,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,58}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,287},{145,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,55}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_btn_big_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1},{260,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,91}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_btn_big_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,173},{260,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,91}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_btn_big_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,263},{260,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,91}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_state_245.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,740},{54,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_state_244.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,776},{54,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_state_243.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,779},{54,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_state_247.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,815},{54,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_btn_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,173},{170,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,91}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_btn_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,194},{170,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,91}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_battle_puke_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,564},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,130}</string>
			</dict>
			<key>game/GameRes850/dzpk_laba_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,978},{135,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,32}</string>
			</dict>
			<key>game/GameRes850/suoHa_img_headFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,322},{130,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,170}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_jesson_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,884},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_time_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,454},{108,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,160}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_show_win_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,547},{108,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,160}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,811},{29,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,40}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,978},{135,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,32}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_show_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,167},{153,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,191}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_show_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1},{153,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,191}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_show_win_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1},{170,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,208}</string>
			</dict>
			<key>game/GameRes850/dzpk_jdt_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,564},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>game/GameRes850/dzpk_jdt_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,626},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>game/GameRes850/dzpk_jdt_jetton.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,546},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>game/GameRes850/dzpk_jdt_jjbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,435},{216,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,74}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_add_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{313,695}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,695}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_state_246.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,828},{54,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,853},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,740},{29,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,37}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,502},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,43}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,454},{29,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,46}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,708},{58,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,978},{122,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,31}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,708},{58,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,744},{58,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,768},{58,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,511},{58,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,32}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,717},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,811},{58,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,571},{57,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,32}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_lose_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,657},{83,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,263},{85,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,978},{131,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,31}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,436},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,511},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,287},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,630},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,350},{84,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,34}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,705},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,673},{85,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,33}</string>
			</dict>
			<key>game/GameRes850/texasHoldem_txt_win_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,978},{110,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,34}</string>
			</dict>
			<key>game/GameRes850/dzpk_Battle_tb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,846},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>game/GameRes850/ID_452.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,345},{133,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,83}</string>
			</dict>
			<key>game/GameRes850/chat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,344},{133,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game_layer.png</string>
			<key>realTextureFileName</key>
			<string>game_layer.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>