<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,810},{73,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,29}}</string>
                <key>sourceSize</key>
                <string>{73,29}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,875},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,897},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,913},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{68,35}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,948},{47,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{47,53}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,950},{69,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,34}}</string>
                <key>sourceSize</key>
                <string>{69,34}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,841},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,678},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,729},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,720},{63,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,40}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,875},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,986},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,768},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,40}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,796},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,954},{87,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,36}}</string>
                <key>sourceSize</key>
                <string>{87,36}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,938},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,604},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,847},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,858},{41,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{41,48}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,938},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,770},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,820},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,937},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,852},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,954},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,954},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,730},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,729},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,37}}</string>
                <key>sourceSize</key>
                <string>{74,37}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,785},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,954},{82,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,50}}</string>
                <key>sourceSize</key>
                <string>{82,50}</string>
            </dict>
            <key>GameGuideRes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1147,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1147,496}}</string>
                <key>sourceSize</key>
                <string>{1151,500}</string>
            </dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,954},{188,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,39}}</string>
                <key>sourceSize</key>
                <string>{188,39}</string>
            </dict>
            <key>anniuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,897},{188,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,39}}</string>
                <key>sourceSize</key>
                <string>{188,39}</string>
            </dict>
            <key>biejing.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,500},{186,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,113}}</string>
                <key>sourceSize</key>
                <string>{186,113}</string>
            </dict>
            <key>duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,912},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>gaonengpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,735},{113,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,102}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,908},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>jieshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{243,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>jieshaoBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,615},{102,112}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{102,112}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>jieshaoanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,500},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,580},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>paokuang.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,615},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>putongpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,500},{113,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,102}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
            <key>shanghengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,938},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>shubiaojieshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{820,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,338}}</string>
                <key>sourceSize</key>
                <string>{820,338}</string>
            </dict>
            <key>yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{679,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{679,55}}</string>
                <key>sourceSize</key>
                <string>{693,55}</string>
            </dict>
            <key>yupaodi.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,938},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>zhongjianbeijing.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,959},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zhongjiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,604},{114,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,55}}</string>
                <key>sourceSize</key>
                <string>{114,55}</string>
            </dict>
            <key>zhongjiantiaoda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{917,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,55}}</string>
                <key>sourceSize</key>
                <string>{917,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameGuideRes.png</string>
            <key>size</key>
            <string>{1151,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f97106c27639a98cfedd11c2fc7df98:390bfcc480bd5a2127ed61e4711ce057:a064940919cbede388c218b7c9e895da$</string>
            <key>textureFileName</key>
            <string>GameGuideRes.png</string>
        </dict>
    </dict>
</plist>
