<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,238},{96,142}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{96,142}}</string>
                <key>sourceSize</key>
                <string>{150,232}</string>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,192}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,192}}</string>
                <key>sourceSize</key>
                <string>{150,232}</string>
            </dict>
            <key>fire03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,144},{100,92}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,131},{100,92}}</string>
                <key>sourceSize</key>
                <string>{150,232}</string>
            </dict>
            <key>fire04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{144,110}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,122},{144,110}}</string>
                <key>sourceSize</key>
                <string>{150,232}</string>
            </dict>
            <key>fire05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{150,120}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Betfire.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dce53de2d6ecef52f41bfbe2a90680c9$</string>
            <key>textureFileName</key>
            <string>Betfire.png</string>
        </dict>
    </dict>
</plist>
