<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ximage001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,1358},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1358},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1358},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3210,906},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,906},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,906},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,906},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3210,454},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,454},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,454},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage003.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,454},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage005.png</key>
            <dict>
                <key>frame</key>
                <string>{{3210,2},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2408,2},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage008.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
            <key>ximage009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>sourceSize</key>
                <string>{800,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Long_Effects.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d5385aeb97f1da5d311e7d2a80d8ea$</string>
            <key>textureFileName</key>
            <string>Long_Effects.png</string>
        </dict>
    </dict>
</plist>
