<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_callBanker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,937},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_callBanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,852},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,767},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,682},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1865},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1790},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_chip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1772},{152,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,73}}</string>
                <key>sourceSize</key>
                <string>{152,73}</string>
            </dict>
            <key>bt_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1697},{152,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,73}}</string>
                <key>sourceSize</key>
                <string>{152,73}</string>
            </dict>
            <key>bt_exitSetLayer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1868},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bt_exitSetLayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1868},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>bt_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_howPlay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_howPlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1913},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_hz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1976},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_hz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1976},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_noCallBanker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,597},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_noCallBanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,512},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_prompt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,427},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,342},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_showCard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,257},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_showCard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,172},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_soundOff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_soundOff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1712},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1634},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1280},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,87},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1202},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1124},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>cardFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1022},{673,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,192}}</string>
                <key>sourceSize</key>
                <string>{673,192}</string>
            </dict>
            <key>ox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>oxnew_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{138,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{138,183}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1358},{616,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{616,106}}</string>
                <key>sourceSize</key>
                <string>{616,108}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1847},{145,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{145,64}}</string>
                <key>sourceSize</key>
                <string>{145,74}</string>
            </dict>
            <key>sp_buttonBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{182,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,205}}</string>
                <key>sourceSize</key>
                <string>{182,205}</string>
            </dict>
            <key>sprite_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1687},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>sprite_openCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1975},{100,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>sprite_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{100,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>symbol_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1697},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>symbol_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1308},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_oxnew.png</string>
            <key>size</key>
            <string>{499,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1815c156424f64a12d6b8c79843c0315$</string>
            <key>textureFileName</key>
            <string>gameScene_oxnew.png</string>
        </dict>
    </dict>
</plist>
