<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/Card/card_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,0},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,0},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,0},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,135},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,135},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,135},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,135},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,270},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,270},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,270},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,270},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,405},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,405},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,405},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,405},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,540},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,540},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,540},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,540},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,675},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,675},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,675},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,675},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,675},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,810},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,810},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,810},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,810},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,945},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,945},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,945},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,945},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,945},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1268},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1456},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1644},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1832},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1080},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1080},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1080},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1080},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1080},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1215},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1215},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
			<key>game/Card/card_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1215},{135,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>