<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>summary.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{735,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,359}}</string>
                <key>sourceSize</key>
                <string>{735,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bouns2.png</string>
            <key>size</key>
            <string>{802,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aea9e3bacf5a274f5f2f7a8cc5be21b:2/5$</string>
            <key>textureFileName</key>
            <string>Bouns2.png</string>
        </dict>
    </dict>
</plist>
