<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>c_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2566,1358},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2566,680},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,3244},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,1962},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,680},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3244},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1962},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,680},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2566,2},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,2},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
		<key>c_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1280,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,676}}</string>
			<key>sourceSize</key>
			<string>{1280,676}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>changjing.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:544f66aabd89bc7414a318ebefe97cdc$</string>
		<key>textureFileName</key>
		<string>changjing.png</string>
	</dict>
</dict>
</plist>
