<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranklist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{763,544}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{763,544}}</string>
                <key>sourceSize</key>
                <string>{763,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ranklist.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a1a61fd0cc6bc9c92aee9adcaa52904:1/1$</string>
            <key>textureFileName</key>
            <string>ranklist.png</string>
        </dict>
    </dict>
</plist>
