<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,242}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{294,242}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{294,236}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{294,236}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{294,228}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{294,228}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,232},{294,222}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{294,222}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{292,224}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{292,224}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,240},{292,226}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{292,226}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish21_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,456},{290,224}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{290,224}}</string>
                <key>sourceSize</key>
                <string>{300,262}</string>
            </dict>
            <key>fish22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,646},{172,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,472},{172,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,468},{172,94}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{174,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{174,92}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{174,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,90}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,562},{174,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,90}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{174,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,90}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,468},{174,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{174,92}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{172,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{172,92}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,520},{172,94}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,346},{172,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,844},{170,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{170,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{170,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{170,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,174},{170,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{170,96}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{170,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{170,96}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,838},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,838},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,682},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,810},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,814},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,654},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,654},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,820},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd3531a60f19faf5ed548de958bb518c$</string>
            <key>textureFileName</key>
            <string>fish_move10.png</string>
        </dict>
    </dict>
</plist>
