<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,87}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{283,87}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{281,89}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{281,89}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{281,89}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{281,89}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{281,91}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{281,91}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,93},{279,93}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{279,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,93},{279,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{279,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish14_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{277,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{277,93}}</string>
                <key>sourceSize</key>
                <string>{285,97}</string>
            </dict>
            <key>fish15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{208,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{208,250}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,808},{206,256}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,256}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,808},{206,258}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,258}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,806},{206,258}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,258}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,600},{206,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{206,256}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,188},{204,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{204,252}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,188},{204,246}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{204,246}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{204,240}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{204,240}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,188},{204,232}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{204,232}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,394},{204,226}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{204,226}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,394},{204,222}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{204,222}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{204,220}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{204,220}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,394},{204,220}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{204,220}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,600},{204,224}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{204,224}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
            <key>fish15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,600},{204,224}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{204,224}}</string>
                <key>sourceSize</key>
                <string>{210,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e6a632b904ccb58fd45a977deb6c18$</string>
            <key>textureFileName</key>
            <string>fish_move3.png</string>
        </dict>
    </dict>
</plist>
