<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish19_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{462,127}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{462,127}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish19_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{466,121}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{466,121}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish19_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,127}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{462,127}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish19_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,125},{460,123}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{460,123}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish19_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{460,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{460,125}}</string>
                <key>sourceSize</key>
                <string>{480,177}</string>
            </dict>
            <key>fish20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,553},{151,305}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,8},{151,305}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,706},{151,303}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,10},{151,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{155,303}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,11},{155,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,250},{157,301}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,14},{157,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,692},{157,299}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,16},{157,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,553},{157,299}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,16},{157,299}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,250},{157,301}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,15},{157,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,387},{157,301}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,14},{157,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,250},{153,301}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,13},{153,301}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,692},{151,303}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,10},{151,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{151,305}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,8},{151,305}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,387},{151,303}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,7},{151,303}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
            <key>fish20_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,859},{155,297}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,6},{155,297}}</string>
                <key>sourceSize</key>
                <string>{323,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_move8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae41d0bc5643bd231a057a1e0a32626$</string>
            <key>textureFileName</key>
            <string>fish_move8.png</string>
        </dict>
    </dict>
</plist>
