<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish21_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,336}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,119},{450,336}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{434,314}}</string>
                <key>offset</key>
                <string>{-14,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,141},{434,314}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{422,336}}</string>
                <key>offset</key>
                <string>{38,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,119},{422,336}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish21_d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{234,318}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,137},{234,318}}</string>
                <key>sourceSize</key>
                <string>{500,480}</string>
            </dict>
            <key>fish22_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,734},{172,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,638},{172,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,176},{172,94}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,830},{174,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{174,92}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,924},{174,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,90}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,444},{174,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,90}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,836},{174,90}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{174,90}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,340},{174,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{174,92}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,350},{172,92}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{172,92}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,880},{172,94}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{172,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{172,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,928},{170,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{170,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,928},{170,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{170,94}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,830},{170,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{170,96}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish22_d_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,638},{170,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{170,96}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>fish23_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,478},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,638},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,478},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,676},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,516},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,318},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish23_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,318},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{154,158}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>fish24_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,678},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_dead4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39040180a5254158e458d4483094cbd9$</string>
            <key>textureFileName</key>
            <string>fish_dead4.png</string>
        </dict>
    </dict>
</plist>
