<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,876},{133,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,106}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>fish10_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,686},{117,92}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{117,92}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>fish10_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,824},{99,88}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{99,88}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>fish10_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,480},{103,102}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,102}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>fish10_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{101,96}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{101,96}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>fish10_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,532},{91,102}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{91,102}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>fish10_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,585},{99,102}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{99,102}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>fish11_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{170,178}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{170,178}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish11_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,660},{180,180}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{180,180}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish11_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,808},{186,192}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{186,192}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish11_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{182,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{182,198}}</string>
                <key>sourceSize</key>
                <string>{190,200}</string>
            </dict>
            <key>fish12_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,664},{142,150}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{142,150}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,452},{148,152}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{148,152}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,68},{154,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,156}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish12_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,224},{152,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{152,156}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>fish13_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,450},{218,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{218,84}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish13_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,474},{218,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{218,82}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish13_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,536},{204,78}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{204,78}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish13_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,808},{196,78}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{196,78}}</string>
                <key>sourceSize</key>
                <string>{220,92}</string>
            </dict>
            <key>fish14_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{251,100}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{251,100}}</string>
                <key>sourceSize</key>
                <string>{285,114}</string>
            </dict>
            <key>fish14_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{281,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{281,80}}</string>
                <key>sourceSize</key>
                <string>{285,114}</string>
            </dict>
            <key>fish14_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{277,100}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{277,100}}</string>
                <key>sourceSize</key>
                <string>{285,114}</string>
            </dict>
            <key>fish15_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,286},{186,246}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{186,246}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,244},{204,248}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{204,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish15_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{206,248}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{206,248}}</string>
                <key>sourceSize</key>
                <string>{210,252}</string>
            </dict>
            <key>fish16_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,142},{268,142}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{268,142}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{286,138}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{286,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,136}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{288,136}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,104},{274,138}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{274,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{286,138}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{286,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish16_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,104},{274,138}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{274,138}}</string>
                <key>sourceSize</key>
                <string>{300,144}</string>
            </dict>
            <key>fish1_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,454},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,25}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>fish1_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,380},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,25}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>fish1_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,454},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,25}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>fish1_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,380},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,25}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>fish1_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,454},{72,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,25}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>fish2_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,330},{48,26}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{48,26}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>fish2_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,276},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,26}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>fish2_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,222},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,26}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>fish3_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,558},{76,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,45}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>fish3_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,558},{74,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>fish3_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,558},{62,43}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{62,43}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>fish4_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,914},{93,52}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{93,52}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,684},{99,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,785},{89,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{89,56}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,914},{93,52}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{93,52}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,684},{99,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,785},{89,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{89,56}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,684},{99,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,785},{89,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{89,56}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,914},{93,52}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{93,52}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish4_d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,684},{99,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>fish5_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,536},{122,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{122,44}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>fish5_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,686},{116,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{116,44}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>fish5_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,636},{104,48}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{104,48}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>fish6_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,558},{103,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,74}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>fish6_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,532},{101,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{101,70}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>fish6_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,622},{85,60}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,60}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>fish6_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,558},{103,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,74}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>fish6_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,532},{101,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{101,70}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>fish6_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,622},{85,60}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{85,60}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>fish7_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,244},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,48}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>fish7_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,368},{110,48}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{110,48}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>fish7_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,842},{92,48}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{92,48}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
            <key>fish8_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,808},{124,67}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{124,67}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>fish8_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,757},{130,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,65}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>fish8_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,686},{130,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,69}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>fish8_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,686},{120,67}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{120,67}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>fish8_d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,757},{130,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,65}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>fish8_d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,686},{120,67}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{120,67}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>fish9_d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,660},{146,88}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>fish9_d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,378},{154,72}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{154,72}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>fish9_d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{158,64}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{158,64}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
            <key>fish9_d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,602},{152,60}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{152,60}}</string>
                <key>sourceSize</key>
                <string>{160,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_dead.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd06f62c52d38ba0749b4b6809057b5$</string>
            <key>textureFileName</key>
            <string>fish_dead.png</string>
        </dict>
    </dict>
</plist>
