<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{438,900}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{438,900}}</string>
                <key>sourceSize</key>
                <string>{500,900}</string>
            </dict>
            <key>wave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,900}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{446,900}}</string>
                <key>sourceSize</key>
                <string>{500,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wave.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd91276f52acf410a44e67600132d52$</string>
            <key>textureFileName</key>
            <string>wave.png</string>
        </dict>
    </dict>
</plist>
