<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15More.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,602},{337,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{337,159}}</string>
                <key>sourceSize</key>
                <string>{339,161}</string>
            </dict>
            <key>AutoPlay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,882},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>AutoPlay_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,826},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>AutoPlay_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,930},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>BG00.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,600}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>Back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,934},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>Back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,934},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>ClickToStart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,930},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>ClickToStart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,770},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>ClickToStart_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,714},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,947},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>Down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,947},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>Down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,947},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>FreeSpinDonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{313,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,275}}</string>
                <key>sourceSize</key>
                <string>{313,275}</string>
            </dict>
            <key>GameMenuBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,938},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>GameMenuBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,819},{49,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>LineBtn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,864},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,824},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,954},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn04.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,968},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn05.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,914},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn06.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,941},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn07.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,914},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn08.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,770},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn09.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,864},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,722},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn11.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,682},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn12.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,642},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineBtn13.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,602},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,986},{9,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{9,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,946},{13,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,901},{13,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,810},{13,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,864},{13,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,882},{13,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,932},{13,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,918},{13,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,904},{13,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{13,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,762},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,804},{19,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{19,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,986},{21,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,986},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,986},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,986},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,986},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,986},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,986},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,986},{21,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{21,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,986},{23,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{23,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,784},{19,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{19,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,904},{23,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{23,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,986},{23,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{23,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,988},{23,18}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{23,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>LineNum_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,988},{23,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{23,18}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>SpinLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,878},{199,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,68}}</string>
                <key>sourceSize</key>
                <string>{199,68}</string>
            </dict>
            <key>Spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,874},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,874},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,878},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>StopAuto_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,818},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>StopAuto_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,658},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>StopAuto_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,762},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Stop_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,818},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Stop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,602},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Stop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,762},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,55}}</string>
                <key>sourceSize</key>
                <string>{116,55}</string>
            </dict>
            <key>Up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,826},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>Up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,938},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>Up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,762},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainUI.png</string>
            <key>size</key>
            <string>{802,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2109d5e5439c907c728a2a9e6bdbb4b:1/1$</string>
            <key>textureFileName</key>
            <string>MainUI.png</string>
        </dict>
    </dict>
</plist>
