<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>389_bt_set_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,559},{67,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,74}</string>
			</dict>
			<key>389_bt_set_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,559},{67,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,74}</string>
			</dict>
			<key>389_bt_switch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,599},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>389_bt_switch_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,655},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,56}</string>
			</dict>
			<key>389_sp_tableBtBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,0},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>bigchip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,487},{109,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,95}</string>
			</dict>
			<key>bigchip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,383},{107,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,91}</string>
			</dict>
			<key>bigchip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,490},{109,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,95}</string>
			</dict>
			<key>bigchip_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,596},{109,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,95}</string>
			</dict>
			<key>bt_chat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,125},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>bt_chat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,201},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>
			<key>bt_dissRoom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,642},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>bt_dissRoom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,666},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,72}</string>
			</dict>
			<key>bt_exit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,709},{65,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>bt_exit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,691},{65,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,74}</string>
			</dict>
			<key>bt_howPlay_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,277},{67,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,77}</string>
			</dict>
			<key>bt_howPlay_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1455,559},{67,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,77}</string>
			</dict>
			<key>bt_voice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,559},{67,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,74}</string>
			</dict>
			<key>bt_voice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,599},{67,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,74}</string>
			</dict>
			<key>game_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1334,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1334,750}</string>
			</dict>
			<key>game_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,208},{99,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,23}</string>
			</dict>
			<key>game_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,0},{125,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,37}</string>
			</dict>
			<key>game_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,383},{90,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,137}</string>
			</dict>
			<key>game_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,383},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>game_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,520},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>game_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,520},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
			<key>game_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,119},{89,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,26}</string>
			</dict>
			<key>game_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,119},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_08_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,119},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,207},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_09_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,207},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,295},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_10_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,295},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,354},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_11_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,642},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,756},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>game_12_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,733},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>game_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,633},{65,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,58}</string>
			</dict>
			<key>game_13_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,698},{65,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,58}</string>
			</dict>
			<key>game_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,383},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>game_14_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,471},{288,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,88}</string>
			</dict>
			<key>gameinfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,0},{863,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{863,43}</string>
			</dict>
			<key>sp_bubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,0},{310,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,119}</string>
			</dict>
			<key>sp_bubble_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,0},{310,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,119}</string>
			</dict>
			<key>static_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,559},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>
			<key>zhuangflag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,711},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game.png</string>
			<key>realTextureFileName</key>
			<string>game.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>