<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_callBanker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,767},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_callBanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,682},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,597},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,512},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_chip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1589},{152,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,73}}</string>
                <key>sourceSize</key>
                <string>{152,73}</string>
            </dict>
            <key>bt_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1514},{152,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,73}}</string>
                <key>sourceSize</key>
                <string>{152,73}</string>
            </dict>
            <key>bt_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1452},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1390},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_prompt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,427},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,342},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_showCard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,257},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_showCard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,172},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_soundOff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1683},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_soundOff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1605},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1683},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1605},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,87},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{200,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,83}}</string>
                <key>sourceSize</key>
                <string>{200,83}</string>
            </dict>
            <key>bt_switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1527},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1527},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>bt_takeBack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1328},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>bt_takeBack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1266},{164,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,60}}</string>
                <key>sourceSize</key>
                <string>{164,60}</string>
            </dict>
            <key>cardBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,852},{673,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,192}}</string>
                <key>sourceSize</key>
                <string>{673,192}</string>
            </dict>
            <key>ox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,100}}</string>
                <key>sourceSize</key>
                <string>{293,100}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{616,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{616,106}}</string>
                <key>sourceSize</key>
                <string>{616,108}</string>
            </dict>
            <key>sp_menubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1124},{182,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,140}}</string>
                <key>sourceSize</key>
                <string>{182,140}</string>
            </dict>
            <key>sprite_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1589},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>sprite_openCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1589},{100,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,53}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>sprite_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1691},{100,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{100,51}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_oxex_res.png</string>
            <key>size</key>
            <string>{499,1761}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8469b5c15eb2c566c08a0815d357da44$</string>
            <key>textureFileName</key>
            <string>game_oxex_res.png</string>
        </dict>
    </dict>
</plist>
