<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bo-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,356},{34,33}}</string>
                <key>offset</key>
                <string>{-1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,185},{34,33}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{70,235}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,235}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,76},{70,237}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,237}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{72,237}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,237}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,222},{72,235}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,235}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,368},{68,233}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,233}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,438},{46,233}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{46,233}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{46,233}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{46,233}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{44,233}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{44,233}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{38,235}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{38,235}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,332},{34,235}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,235}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,514},{72,123}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{72,123}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,296},{34,235}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,235}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,486},{26,225}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{26,225}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,391},{28,233}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{28,233}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,121},{28,233}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{28,233}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,514},{28,139}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,93},{28,139}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{22,117}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,105},{22,117}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,504},{16,99}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,115},{16,99}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{72,211}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{72,211}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{72,215}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{72,215}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{72,241}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,241}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,241}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,241}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{72,233}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,233}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{72,235}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,235}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
            <key>bo-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,148},{72,235}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,235}}</string>
                <key>sourceSize</key>
                <string>{72,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd2e395cd7351ef16fe86cdafcd095c9$</string>
            <key>textureFileName</key>
            <string>bo.png</string>
        </dict>
    </dict>
</plist>
