<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oo0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,227},{221,144}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{221,144}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{239,190}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{239,190}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,241},{231,190}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{231,190}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{229,188}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{229,188}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,669},{191,190}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{191,190}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{223,192}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{223,192}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,245},{239,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{239,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{243,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{243,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,450},{217,192}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{217,192}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,703},{221,194}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{215,184}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{215,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,223},{217,184}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{217,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,2},{219,184}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{219,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,460},{221,184}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{221,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,474},{227,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{227,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,717},{229,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{229,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,482},{233,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{233,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,725},{235,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{235,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{237,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,243},{237,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,486},{237,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,490},{241,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{241,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,247},{241,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,737},{243,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{243,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{243,154}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,154}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,486},{239,154}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{239,154}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,727},{239,146}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{239,146}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,227},{221,150}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{221,150}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,733},{241,154}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,683},{219,144}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{219,144}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,233},{225,152}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{225,152}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,926},{119,88}}</string>
                <key>offset</key>
                <string>{18,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{119,88}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,926},{113,82}}</string>
                <key>offset</key>
                <string>{17,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,968},{53,58}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{47,22}}</string>
                <key>offset</key>
                <string>{-7,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oo.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe52a767eab6ce8908c721869fadcc19$</string>
            <key>textureFileName</key>
            <string>oo.png</string>
        </dict>
    </dict>
</plist>
