<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guang-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,900},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,528},{260,185}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{260,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,148},{180,169}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,10},{180,169}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,722},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,717},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,717},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,713},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,530},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,530},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>guang-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,526},{326,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,185}}</string>
                <key>sourceSize</key>
                <string>{326,185}</string>
            </dict>
            <key>oo0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{221,144}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{221,144}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,530},{239,190}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{239,190}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,706},{231,190}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{231,190}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{229,188}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{229,188}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{191,190}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{191,190}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,722},{223,192}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{223,192}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,904},{239,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{239,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,916},{243,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,916},{243,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,909},{243,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,198}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,904},{217,192}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{217,192}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,904},{221,194}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{221,194}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,148},{215,184}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{215,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,150},{217,184}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{217,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,154},{219,184}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{219,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,156},{221,184}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{221,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,158},{227,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{227,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,158},{229,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{229,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,158},{233,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{233,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{235,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{235,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,340},{237,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,336},{237,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,334},{237,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,344},{241,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,344},{241,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,342},{241,184}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,520},{243,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,344},{243,184}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,184}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{243,154}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,154}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,2},{239,154}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{239,154}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{239,146}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{239,146}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{221,150}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{221,150}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{241,154}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{241,154}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{219,144}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{219,144}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{225,152}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{225,152}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{119,88}}</string>
                <key>offset</key>
                <string>{18,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{119,88}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{113,82}}</string>
                <key>offset</key>
                <string>{17,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{53,58}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
            <key>oo0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,22}}</string>
                <key>offset</key>
                <string>{-7,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{243,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oo2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59a710fb642f6df77e3b50396bdc9660$</string>
            <key>textureFileName</key>
            <string>oo2.png</string>
        </dict>
    </dict>
</plist>
